<div id="page-contact">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/" class="breadcrumb-link">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Contact us</li>
        </ol>
    </nav>
    <h4>INFORMATIONS</h4>
    <div class="page-contact-content">
        <div class="page-contact-informations">
            <div class="adresse-infos">
                <i class="fa-solid fa-location-dot fa-2x"></i>
                <p>Afrik'art workshop</p>
            </div>
            <HR />
            <div class="mail-infos">
                <i class="fa-solid fa-envelope fa-2x"></i>
                <p>
                    Send us an email:
                    <a href="mailto:kabasiromain@gmail.com">our mail</a>
                </p>
            </div>
        </div>
        <div class="page-contact-contactez-nous">
            <%if (typeof error !== 'undefined' && error == true) { %>
                <div class="alert alert-danger mssg" role="alert">
                  <%= (errorMsg) ? errorMsg : '' %>
                </div>
              <% } %>
          
              <%if (typeof error == null && error == false) { %>
                <div class="alert alert-success mssg" role="alert">
                  <%= (messages) ? messages : '' %>
                </div>
              <% } %>
            <h5>CONTACT US</h5>
            <form id="form" method="post" action="/contact">
                <div class="form-content">
                    <div class="form-label">
                        <label for="">Subject</label>
                        <label for="">mail</label>
                        <!-- <label for="">Document joint</label> -->
                        <label for="">Message</label>
                    </div>
                    <div class="form-input">
                        <input type="text" placeholder="client service" name="cont_service" required  id="" /><br />
                        <input type="email" placeholder="yourmail@email.com" name="cont_email" required  id="" /><br />
                        <!-- <input class="form-control" type="file" id="formFile" name="cont_file"  /><br /> -->
                        <textarea placeholder="message" rows="3" name="cont_msg" required></textarea>
                    </div>
                </div>
                <button class="btn_envoi">Send</button>
            </form>
        </div>
    </div>
</div>