<div id="page-creation">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/" class="breadcrumb-link">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
    <h3>Nos créations</h3>
  </nav>
  <div class="page-creation-content">
    <p>
      L'espace Créations d'Aiguilles en Scène propose exclusivement ses services
      aux professionnels de la danse.
    </p>
    <p>
      Vous êtes professeur de danse et vous n'avez pas trouvé votre bonheur
      parmi les références de notre catalogue ? Notre équipe de professionnels
      se tient à votre écoute si vous avez besoin de confectionner des costumes
      particuliers selon le thème de votre spectacle.
    </p>
    <p>
      Vous pourrez bénéficier des services d'une conseillère lors d'un entretien
      personnalisé. Ensemble, nous établirons un cahier des charges afin de
      créer vos nouveaux costumes. Prenez rendez-vous sans plus tarder pour
      définir votre costume original moyennant un supplément. Contactez-nous
      pour ce faire par mail ou par téléphone.
    </p>
  </div>

  <div class="page-creation-button">
    <div class="btn1">
      <a href="/contact#page-contact">
        <button type="button" class="btn">Ecrivez-nous</button></a
      >
    </div>
    <div class="btn1">
      <a href="tel:0614289981"> <button type="button" class="btn">06 14 28 99 81</button></a>
    </div>
  </div>
  <HR />
  <div class="etape-creation">
    <div class="etape-creation-content">
      <img src="/images/etape1.jpg" class="img-fluid etape-img" alt="" />

      <h6>Etape 1</h6>
      <p>
        Appelez-nous au 06 14 28 99 81 ou envoyez nous un email afin de définir
        précisément votre demande ainsi que le coût.
      </p>
    </div>
    <div class="etape-creation-content">
      <img src="/images/etape2.jpg" class="img-fluid etape-img" alt="" />

      <h6>Etape 2</h6>
      <p>
        Grâce à notre tableau des mensurations, vous prendrez les mesures de vos
        élèves rapidement et simplement.
      </p>
    </div>
    <div class="etape-creation-content">
      <img src="/images/etape3.jpg" class="img-fluid etape-img" alt="" />

      <h6>Etape 3</h6>
      <p>
        Une fois les mesures envoyées, nous créons vos costumes. Si nécessaire,
        nous vous envoyons le/les prototypes.
      </p>
    </div>
    <div class="etape-creation-content">
      <img src="/images/etape4.jpg" class="img-fluid etape-img" alt="" />

      <h6>Etape 4</h6>
      <p>
        Nous vous livrons les costumes réalisés à domicile une semaine avant
        votre spectacle.
      </p>
    </div>
  </div>
</div>
