<div id="pages-home">
  <div class="element-slider-suggestion">
    <div class="text-center">
      <h2 class="font-weight-light">NOS SUGGESTIONS !</h2>
      <div class="row mx-auto my-auto justify-content-center">
        <div id="suggestion-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="col-md-3 item-container">
                <div class="item-card">
                  <div class="item-card-img">
                    <img
                      src="/images/enfant1.jpg"
                      class="img-fluid"
                    />
                  </div>
                  <div class="item-card-text">
                    <div class="title">MEJ2 - Ensemble jupe avec brassière noire</div>
                    <div class="ref">Ref: MEJ2 </div>
                    <div class="price">9,50 €</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3 item-container">
                <div class="item-card">
                  <div class="item-card-img">
                    <a href="#">
                      <img
                      src="/images/enfant1.jpg"
                      class="img-fluid"
                    />
                    </a>
                  </div>
                  <div class="item-card-text">
                    <div class="title">MEJ2 - Ensemble jupe avec brassière noire</div>
                    <div class="ref">Ref: MEJ2 </div>
                    <div class="price">9,50 €</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a
            class="carousel-control-prev bg-transparent w-aut"
            href="#suggestion-carousel"
            role="button"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a
            class="carousel-control-next bg-transparent w-aut"
            href="#suggestion-carousel"
            role="button"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section-location">
    <div class="section-location-img">
    </div>
    <div class="section-location-text">
      <h1>LOCATION DE COSTUMES DE DANSE - AIGUILLES EN SCÈNE</h1>
      <div class="content">
        <p>Bienvenue sur le nouveau site internet d'Aiguilles en Scène, atelier spécialisé dans la location et la création de costumes de danse.
          Nous vous proposons un large choix de costumes de qualité pour vos spectacles de danse amateurs et professionnels. </p>
          <p>À travers plus de 18000 costumes disponible à la location, nos produits sont adaptés à tous les types de danse : danse classique, moderne, jazz, contemporaine, ect.</p>
          <p> Tous nos costumes et accessoires sont réalisés sur mesure et à la main par une équipe de professionnels, vous garantissant la qualité et l'authenticité de ces derniers, le tout à prix très accessible ! Combinaisons académiques, jupes, pantalons, chapeaux, robes, tuniques, tutus... Il y en a pour tous les goûts et toutes les envies.</p>
          <p>Vous pouvez venir retirer votre commande en click & collect dans notre atelier situé à Rennes, un service de livraison clé en main est également disponible partout en France.</p>
          <p>Enfin, si vous ne trouvez pas le produit idéal, rendez-vous dans l'espace création, pour la réalisation d'un costume sur-mesure.</p>
          <h2>Location costumes & tenues de danse</h2>
          <p>Passionnés et toujours à l'écoute des nouvelles tendances du milieu de la danse, notre catalogue ne cesse de s'étoffer afin de satisfaire le plus grand nombre. Retrouvez plus de 1362 références et un grand choix de costumes adaptés à tous et à toutes.</p>
          <p>Amateur ou professionnel de la danse, retrouvez un grand choix de costumes adaptés à tous et à toutes.</p>
          <ul>
            <li>Costumes de danse pour enfants</li>
            <li>Costumes de danse adultes</li>
            <li> Costumes de danse grandes tailles</li>
          </ul>
          <p> Découvrez également notre sélection d'accessoires : masques, gants, chapeaux, bijoux... Et même de la décoration !</p>
          <h2>Création costumes de danse</h2>
          <p> Si vous ne trouvez pas votre bonheur, rendez-vous sur notre espace création. Une équipe est là pour vous écouter et vous conseiller. Une offre sur mesure peut vous être proposée à un prix très attractif.</p>
          <p>Une conseillère est à votre service afin d’obtenir un rendez-vous pour un entretien personnalisé permettant de définir ensemble votre projet de création de nouveaux costumes. Grâce à ce service sur mesure, un costume original peut être réalisé, moyennant un léger surcoût.</p>
          <p>Besoin de renseignements complémentaires ou d'un devis ? Contactez-nous au 0614289981 ou en passant par la page contact !</p>
          <p>Toute l'équipe vous remercie pour votre confiance.</p>
      </div>
      <div class="section-location-divider">
        <span></span>
      </div>
    </div>
  </div>
  <div class="section-cta container">
    <h1>NOTRE UNIVERS</h1>
    <section class="cta-items">
      <div class="cta-item">
        <img src="/images/sommaire-1.jpg" alt="" class="cta-item-img">
        <div class="cta-item-content">
          <h2 class="cta-item-content-title">QUI SOMMES NOUS ?</h2>
          <a href="" class="cta-item-btn">Découvrir</a>
        </div>
      </div>
      <div class="cta-item">
        <img src="/images/sommaire-1.jpg" alt="" class="cta-item-img">
        <div class="cta-item-content">
          <h2 class="cta-item-content-title">QUI SOMMES NOUS ?</h2>
          <a href="" class="cta-item-btn">Découvrir</a>
        </div>
      </div>
      <div class="cta-item">
        <img src="/images/sommaire-1.jpg" alt="" class="cta-item-img">
        <div class="cta-item-content">
          <h2 class="cta-item-content-title">QUI SOMMES NOUS ?</h2>
          <a href="" class="cta-item-btn">Découvrir</a>
        </div>
      </div>
      <div class="cta-item">
        <img src="/images/sommaire-1.jpg" alt="" class="cta-item-img">
        <div class="cta-item-content">
          <h2 class="cta-item-content-title">QUI SOMMES NOUS ?</h2>
          <a href="" class="cta-item-btn">Découvrir</a>
        </div>
      </div>
      <div class="cta-item">
        <img src="/images/sommaire-1.jpg" alt="" class="cta-item-img">
        <div class="cta-item-content">
          <h2 class="cta-item-content-title">QUI SOMMES NOUS ?</h2>
          <a href="" class="cta-item-btn">Découvrir</a>
        </div>
      </div>
      <div class="cta-item">
        <img src="/images/sommaire-1.jpg" alt="" class="cta-item-img">
        <div class="cta-item-content">
          <h2 class="cta-item-content-title">QUI SOMMES NOUS ?</h2>
          <a href="" class="cta-item-btn">Découvrir</a>
        </div>
      </div>
    </section>
  </div>
  <div class="section-nos-creations">
    <div class="text-content">
      <h1><span class="green">Nos</span> créations</h1>
      <div class="cta">
        <p>Confection de costumes !</p>
        <a href="#" class="btn">Découvrir</a>
      </div>
    </div>
  </div>
  <div class="section-newsletters">
    <div class="text">
      <p>Ne ratez plus le coche en recevant <br>la newsletter gratuitement par mail</p>
    </div>
    <div class="form">
      <div class="input">
        <input type="text" placeholder="Votre adresse e-mail">
        <button><i class="fa fa-solid fa-send"></i></button>
      </div>
    </div>
  </div>
</div><script src="/javascripts/suggestion_carousel.js"></script>