<div id="pages-home">
  <div class="element-slider-suggestion">
    <div class="container text-center my-3">
      <h2 class="font-weight-light">NOS SUGGESTIONS !</h2>
      <div class="row mx-auto my-auto justify-content-center">
        <div id="suggestion-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="col-md-3 item-container">
                <div class="item-card">
                  <div class="item-card-img">
                    <img
                      src="/images/enfant1.jpg"
                      class="img-fluid"
                    />
                  </div>
                  <div class="item-card-text">
                    <div class="title">MEJ2 - Ensemble jupe avec brassière noire</div>
                    <div class="ref">Ref: MEJ2 </div>
                    <div class="price">9,50 €</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3 item-container">
                <div class="item-card">
                  <div class="item-card-img">
                    <a href="#">
                      <img
                      src="/images/enfant1.jpg"
                      class="img-fluid"
                    />
                    </a>
                  </div>
                  <div class="item-card-text">
                    <div class="title">MEJ2 - Ensemble jupe avec brassière noire</div>
                    <div class="ref">Ref: MEJ2 </div>
                    <div class="price">9,50 €</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a
            class="carousel-control-prev bg-transparent w-aut"
            href="#suggestion-carousel"
            role="button"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a
            class="carousel-control-next bg-transparent w-aut"
            href="#suggestion-carousel"
            role="button"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div><script src="/javascripts/suggestion_carousel.js"></script>