<div id="page-confirmation-commande">
  <div class="title-recherche">
    <span><a href="">Acceuil</a></span>
    <span>/ Confirmation de commande</span>
  </div>

  <section class="main">
    <div class="content-card">
      <div class="block">
        <div class="row">
          <div class="col-md-12">
            <h3>
              <span><i class="fa-solid fa-check"></i></span>VOTRE COMMANDE EST
              CONFIRMÉE
            </h3>
            <p>
              Un e-mail vous a été envoyé à l'adresse trigoyodila1996@gmail.com.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="card-block">
        <div class="row">
          <div class="order-items">
            <div class="row order-titles">
              <h3 class="title col-md-6 col-sm-6 text-center">
                articles de la commande
              </h3>
              <div class="col-md-6 col-sm-6 hide-titles">
                <div class="row">
                  <h3 class="title col-md-4 col-sm-4 text-center">
                    prix unitaire
                  </h3>
                  <h3 class="title col-md-4 col-sm-4 text-center">quantité</h3>
                  <h3 class="title col-md-4 col-sm-4 text-center">
                    total produits
                  </h3>
                </div>
              </div>
            </div>
            <div class="order-confirmation">
              <div class="order-line">
                <div class="row line">
                  <div class="col-md-6 col-sm-6 col-xs-6 img-article">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 images">
                        <div class="image">
                          <img src="/images/enfant1.jpg" alt="" />
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <span class="article-title"
                          >GRL10B - Robe blanche fines bretelles 4 pans 1
                          manche</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 text-content">
                    <div class="row">
                      <div class="col-md-4 col-sm-4 text-center text-xs-left">
                        10,00 €
                      </div>
                      <div class="col-md-4 col-sm-4 text-center">1</div>
                      <div class="col-md-4 col-sm-4 text-center text-xs-left">
                        10,00 €
                      </div>
                    </div>
                  </div>
                </div>
                <hr />
                <table>
                  <tbody>
                    <tr>
                      <td>Sous-total</td>
                      <td class="price-col">20,50 €</td>
                    </tr>
                    <tr>
                      <td>Frais de livraison</td>
                      <td class="price-col">gratuit</td>
                    </tr>
                    <tr class="total-value">
                      <td>TOTAL TTC</td>
                      <td class="price-col">20,50 €</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="details">
              <h1 class="title">DÉTAILS DE LA COMMANDE:</h1>
              <p>Référence de la commande : ORD-OJQCG</p>
              <p>Moyen de paiement : Devis</p>
              <p>Mode de livraison : Retrait dans nos locaux AES</p>
              <p>
                Je viendrais prendre le colis d’essayage et les costumes pour
                mon spectacle dans vos locaux.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="products">
    <div class="title"><h2>PRODUITS POPULAIRES</h2></div>
    <div class="row">
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"
            ><img src="/images/enfant2.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"
            ><img src="/images/enfant1.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"
            ><img src="/images/enfant3.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"
            ><img src="/images/enfant1.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"
            ><img src="/images/enfant2.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"
            ><img src="/images/enfant3.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"
            ><img src="/images/enfant2.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"
            ><img src="/images/enfant3.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="button-all">
    <p>
      Tous les produits <span><i class="fa-solid fa-chevron-right"></i></span>
    </p>
  </div>
</div>
