<div id="identite">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Accueil</li>
        <li class="breadcrumb-item" aria-current="page">Votre compte</li>
        <li class="breadcrumb-item active" aria-current="page">
          Vos information personnelles
        </li>
      </ol>
    </nav>
    <h4>Vos informations personnelles</h4>
    <form action="" class="fom">
      <div class="row-form">
        <label class="col-label label" for="civilite">Civilité</label>
        <div class="">
          <input type="radio" name="flexRadioDefault" id="flexRadioDefault2" />
          <label class="form-check-label" for="">M</label>
          <input type="radio" name="flexRadioDefault" id="flexRadioDefault2" />
          <label class="form-check-label" for="">Mme</label>
        </div>
      </div>
      <div class="row-form">
        <label class="col-label" for=""> <span>* </span>Prenom</label>
        <div class="col-input">
          <input class="col" placeholder="Romain" type="text" name="" id="" />
          <label for=""
            >Seules les lettres et le point (.), suivi d'un espace, sont
            autorisés.</label
          >
        </div>
      </div>
      <div class="row-form">
        <label class="col-label" for=""> <span>* </span>Nom</label>
        <div class="col-input">
          <input class="col" placeholder="Kabasi" type="text" name="" id="" />
          <label for=""
            >Seules les lettres et le point (.), suivi d'un espace, sont
            autorisés.</label
          >
        </div>
      </div>
      <div class="row-form">
        <label class="col-label" for=""> <span>* </span>E-mail</label>
        <div class="col-input">
          <input
            class="col"
            placeholder="Kabasiromain@gmail.com"
            type="email"
            name=""
            id=""
          />
        </div>
      </div>
      <div class="row-form">
        <label class="col-label" for=""> <span>* </span>Mot de passe</label>
        <div class="d-flex flex-row col-input">
          <input
            id="password"
            type="password"
            name="password"
            placeholder="Password"
            value=""
            size="40"
          />
          <span class="input-group-text">
            <i class="far fa-eye" id="togglePassword" style="cursor: pointer"></i>
          </span>
        </div>
      </div>
      <div class="row-form">
        <label class="col-label" for=""> Nouveau mot de passe</label>
        <div class="d-flex flex-row col-input">
          <input
            id="password"
            type="password"
            name="password"
            value=""
            size="40"
          />
          <span class="input-group-text">
            <i class="far fa-eye" id="togglePassword" style="cursor: pointer"></i>
          </span>
        </div>
      </div>
      <div class="row-form">
        <label class="col-label" for=""> <span>* </span></label>
        <div class="checkbox-label">
          <input type="checkbox" name="flexRadioDefault" id="flexRadioDefault2" />
          <label class="form-check-label" for=""
            >Message concernant la confidentialité des données clients
            Conformément aux dispositions de la loi du n°78-17 du 6 janvier 1978,
            vous disposez d'un droit d'accès, de rectification et d'opposition sur
            les données nominatives vous concernant.</label
          >
        </div>
      </div>
      <div class="row-form">
        <label class="col-label" for=""> <span> </span></label>
        <div class="checkbox-label">
          <input type="checkbox" name="flexRadioDefault" id="flexRadioDefault2" />
          <label class="form-check-label" for="">
            Recevoir notre newsletter Vous pouvez vous désinscrire à tout moment.
            Vous trouverez pour cela nos informations de contact dans les
            conditions d'utilisation du site.</label
          >
        </div>
      </div>
      <div class="row-form">
        <label class="col-label" for=""> <span>* </span></label>
        <div class="checkbox-label">
          <input type="checkbox" name="flexRadioDefault" id="flexRadioDefault2" />
          <label class="form-check-label" for=""
            >J'accepte les conditions générales et la politique de
            confidentialité</label
          >
        </div>
      </div>
      <div class="btn-submit">
        <button class="btn" type="submit">Enregistrer</button>
      </div>
    </form>
    <div class="link-div d-flex flex-row">
      <div>
        <a href="http://"
          ><i class="fa-solid fa-chevron-left"></i> Retour à votre compte
        </a>
      </div>
      <div>
        <a href="/"><i class="fa-solid fa-house"></i> Accueil</a>
      </div>
    </div>
  </div>
  