<div id="page-admin-ajout-typeCat">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="fil-ariane-item" href="/Catalogue">Catalogue</a>
            </li>
            <li class="breadcrumb-item">
                <a class="fil-ariane-item" href="/admin/type-categories">type-categories</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <span>ajouter</span>
            </li>

        </ol>
    </nav>


    <form action="/admin/type-categories/ajout" method="POST">
        <div class="content">
            <div class="row formulaire">
                <div class="col-8">
                    <input type="texte" id="libelle" class="form-control" aria-labelledby="passwordHelpInline"
                        name="tyc_libelle" placeholder="Nom de votre type catégorie" />
                </div>

                <div class="button col-4">
                    <button class="btn">Ajouter</button>
                </div>
            </div>
        </div>
    </form>
</div>