#bloc-panier {
    .offcanvas-body {
        .kart-items {
            .kart-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 100px;
                .kart-img {
                    width: 25%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .kart-content {
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    font-family: 'Bicyclette';
                    gap: 20px;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                    .actions {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-content: center;
                        align-items: center;
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }
        }
        .kart-article {
            display: flex;
            justify-content: space-between;
            color: $color-secondary;
        }
        .kart-livraison {
            display: flex;
            justify-content: space-between;
            color: $color-secondary;
        }
        .kart-total {
            display: flex;
            justify-content: space-between;
            color: $color-important;
        }
        .kart-btns {
            display: flex;
            justify-content: space-between;
            .btn-voirpanier button,
            .btn-commander button {
                color: $color-white;
                height: 60px;
                width: 177px;
                border: none;
                background-color: $color-secondary;
            }
        }
    }
}