<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body style="margin:0;padding:0;">
    <div id="mail">
  <div class="entete">
    <img src="/images/logo.png" alt="" srcset="" />
  </div>
  <div class="salutation">
    <h4>Bonjour Blaise KINALI</h4>
    <p>
      Merci d'avoir effectué votre devis en ligne sur
      <span>AIGUILLES EN SCENE</span>
    </p>
  </div>
  <div class="adresse">
    <div class="livraison">
      <div class="titre">
        <i class="fa-solid fa-location-dot icone"></i>
        <h6>Adresse de livraison</h6>
      </div>
      <hr />
      <div class="body">
        <h6>Blaise KINALI</h6>
        <p>WCG</p>
        <p>21 bld Hausmann</p>
        <p>75009</p>
        <p>France</p>
        <p>016114653</p>
      </div>
      <hr />
    </div>
    <div class="facturation">
      <div class="titre">
        <i class="fa-solid fa-receipt icone"></i>
        <h6>Adresse de facturation</h6>
      </div>
      <hr />
      <div class="body">
        <h6>Blaise KINALI</h6>
        <p>WCG</p>
        <p>21 bld Hausmann</p>
        <p>75009</p>
        <p>France</p>
        <p>016114653</p>
      </div>
      <hr />
    </div>
  </div>
  <div class="detail">
    <table >
      <tr>
        <th>Réference</th>
        <th>Produits</th>
        <th>Prix unitaire(HT)</th>
        <th>Quantité</th>
        <th>Total(HT)</th>
      </tr>
      <tr>
        <td>PC18</td>
        <th>PC19-Combishorht bleu</th>
        <td>9.00 £</td>
        <td>2</td>
        <td>18,00 £</td>
      </tr>
      <tr>
        <td>MR6</td>
        <th>MR6-Robe sirène-Marin</th>
        <td>9.00 £</td>
        <td>1</td>
        <td>9,00 £</td>
      </tr>
      <!-- <tr>
            <td>GEP23</td>
            <th>GEP23-Ensemble pantalon saroule framboise à paillettes turquoises</th>
            <td>12.00 £</td>
            <td>1</td>
            <td>12,00 £/td>
        </tr> -->
    </table>
    <div class="detail_total">
      <table>
        <tr>
          <th>Produit HT</th>
          <th>39.00 £</th>
        </tr>
        <tr>
          <th>Reductions HT</th>
          <th>0.00 £</th>
        </tr>
        <tr>
          <th>Frais dossier HT</th>
          <th>15.00 £</th>
        </tr>
        <tr>
          <th>Livraison</th>
          <th>18.70 £</th>
        </tr>
        <tr>
          <th>Incluant un total de taxes</th>
          <th>6.50 £</th>
        </tr>
        <tr>
          <th>Montant total TTC</th>
          <th>72.70 £</th>
        </tr>
      </table>
    </div>
  </div>
  <div class="modeLivraison">
    <div class="titreLivraison">
      <i class="fa-solid fa-truck icone_livraison"></i>
      <h6>Livraison</h6>
    </div>
    <h5>Mode de livraison :<span>Tout en livraison</span></h5>
  </div>
  <div class="remarque">
    <h6>Remarque</h6>
    <p>J'ai aimé vos produits , merci ...</p>
  </div>
  <div class="repetition_spectable">
    <div class="spectacle">
      <div class="titre">
        <h6>Date spectacle</h6>
      </div>
      <hr />
      <div class="body">
        <h6>Date de début : <span>12-04-2023</span></h6>
        <h6>Date de fin : <span>20-04-2023</span></h6>
      </div>
      <hr />
    </div>
    <div class="repetition">
      <div class="titre">
        <h6>Date repétition</h6>
      </div>
      <hr />
      <div class="body">
        <h6>Date de repétition (1) : <span>12-04-2023</span></h6>
        <h6>Date de repétion (2) : <span>20-04-2023</span></h6>
      </div>
      <hr />
    </div>
  </div>
  <div class="message">
    <p>
      Nous vérifions la disponibilité des références demandées et vous informons
      par mail dans les 48h si les articles sont disponibles en fonction de
      tailles selectionnées .
    </p>
  </div>
  <div class="remerciement">
    <p>Bien cordialement <br> Le service client</p>
    <!-- <p>Le service client</p> -->
  </div>
  <button class="btn-send">send</button>
</div>
<script src="/javascripts/mail.js"></script>
  
</body>
</html>