<div id="page-article">
  <div class="title-article">
    <span><a href="">Acceuil</a></span>
    <span>/ MEP26A - Ensemble pantalon rose</span>
  </div>

  <div class="content row">
    <div class="left-content col-md-6">
      <div class="image-content">
        <div
          class="image"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <img src="/images/enfant2.jpg" alt="" />
          <div class="search-icon">
            <span><i class="fa-solid fa-magnifying-glass"></i></span>
          </div>
        </div>

        <div id="carouselImages" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <!-- <img src="..." class="d-block w-100" alt="..." /> -->
              <img src="/images/enfant1.jpg" class="img-fluid" />
            </div>
            <div class="carousel-item">
              <!-- <img src="..." class="d-block w-100" alt="..." /> -->
              <img src="/images/enfant2.jpg" class="img-fluid" />
            </div>
            <div class="carousel-item">
              <!-- <img src="..." class="d-block w-100" alt="..." /> -->
              <img src="/images/enfant1.jpg" class="img-fluid" />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselImages"
            data-bs-slide="prev"
          >
            <span class="icon" ><i class="fa-solid fa-chevron-left"></i></span>
            <!-- <span class="visually-hidden">Previous</span> -->
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselImages"
            data-bs-slide="next"
          >
            <span class="icon"><i class="fa-solid fa-chevron-right"></i></span>
            <!-- <span class="visually-hidden">Next</span> -->
          </button>
        </div>
      </div>

      <div
        class="modal fade modal-container"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content rounded-0">
            <div class="modal-body">
              <div class="images">
                <div class="image-grand">
                  <img
                    src="/images/enfant2.jpg"
                    class="img-grand img-fluid"
                    alt=""
                  />
                </div>
                <div class="desc">
                  <p class="utile">Quantité initiale : 5</p>
                  <p class="utile">Tailles disponibles :</p>
                  <p>1 en 8 ans</p>
                  <p>4 en 10 ans</p>
                </div>
              </div>

              <div class="small-images">
                <div class="image-card">
                  <img
                    src="/images/enfant4.jpg"
                    class="img-fluid img-small"
                    alt=""
                  />
                </div>
                <div class="image-card">
                  <img
                    src="/images/enfant5.jpg"
                    class="img-fluid img-small"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="right-content col-md-6">
      <h1>MEP26A - ENSEMBLE PANTALON ROSE</h1>
      <p class="ref">Référence: MEP26A</p>
      <div class="price">
        <p class="number">10,00 €</p>
        <p class="title">TTC</p>
      </div>
      <div class="informations">
        <div class="description">
          <p class="utile">Quantité initiale : 5</p>
          <p class="utile">Tailles disponibles :</p>
          <p>1 en 8 ans</p>
          <p>4 en 10 ans</p>
        </div>
        <span>* J’indiquerai les tailles après l’essayage</span>
      </div>
      <div class="actions">
        <div class="add-cart">
          <p>Quantité</p>
          <div class="quantity">
            <div class="qty-btn">
              <input type="text" class="number-value" value="1" />
              <div class="btns">
                <button class="btn-up">
                  <span><i class="fa-solid fa-chevron-up"></i></span>
                </button>
                <button class="btn-down">
                  <span><i class="fa-solid fa-chevron-down"></i></span>
                </button>
              </div>
            </div>
            <button class="add">Ajouter au panier</button>
          </div>
          <div class="alerte-qty"></div>
        </div>

        <div class="socials">
          <span>Partager</span>
          <ul>
            <li>
              <a href="" title="facebook"
                ><span><i class="fa-brands fa-facebook-f"></i></span
              ></a>
            </li>
            <li>
              <a href="" title="twitter"
                ><span><i class="fa-brands fa-twitter"></i></span
              ></a>
            </li>
            <li>
              <a href="" title="pinterest"
                ><span><i class="fa-brands fa-pinterest-p"></i></span
              ></a>
            </li>
          </ul>
        </div>

        <div class="tabs-container">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link btn-tab-one active button-add"
                id="home-tab"
                data-bs-toggle="tab"
                data-bs-target="#home-tab-pane"
                type="button"
                role="tab"
                aria-controls="home-tab-pane"
                aria-selected="true"
              >
                Description
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link btn-tab-two"
                id="profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#profile-tab-pane"
                type="button"
                role="tab"
                aria-controls="profile-tab-pane"
                aria-selected="false"
              >
                Détails du produit
              </button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active content-one"
              id="home-tab-pane"
              role="tabpanel"
              aria-labelledby="home-tab"
              tabindex="0"
            >
              Quantité insuffisante ? Laissez-nous un message en précisant la
              référence du produit, ou appelez au 06 14 29 99 81
            </div>
            <div
              class="tab-pane fade content-two"
              id="profile-tab-pane"
              role="tabpanel"
              aria-labelledby="profile-tab"
              tabindex="0"
            >
              Référence MEP26A En stock 9995 Produits
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="others-like">
    <h5>VOUS AIMEREZ AUSSI</h5>
    <div class="items">
      <div class="item">
        <div class="image">
          <a href="#"
            ><img src="/images/enfant2.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row comment">
    <div class="title">
      <span class="icon"><i class="fa-solid fa-message"></i></span>
      <span>Commentaires (0)</span>
    </div>
    <div class="avis">
      <div class="content">
        <span class="icon"><i class="fa-solid fa-pen"></i></span>
        <span class="text">soyez le premier à donner votre avis</span>
      </div>
    </div>
    
  </div>
</div>
<script src="/javascripts/article.js"></script>
