<div id="admin-page-transporteur-add">
  <div id="admin-blocs-produitHeader" class="mb-4">
    <div class="produit-menu">
      <div class="text">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a class="fil-ariane-item" href="#" style="color: #25b9d7;">Référentiel</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <a class="fil-ariane-item" href="/admin/transporteurs">Transporteurs</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>Ajouter</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 card shadow">
        <% if (typeof succesMsg == 'string') { %>
        <div class="alert alert-success mt-3 d-flex justify-content-between" role="alert">
          <%= succesMsg %> <button type="button" class="btn-close btn-close-flash" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %><% if (typeof nothingMsg == 'string') { %>
        <div class="alert alert-secondary mt-3 d-flex justify-content-between" role="alert">
          <%= nothingMsg %> <button type="button" class="btn-close btn-close-flash" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
        <form method="post" action="/admin/transporteurs/add">
          <div class="mb-3 pt-3">
            <label for="transporteur-input" class="form-label"
              >Nom du transporteur</label
            >
            <input
              type="text"
              name="trs_libelle"
              class="form-control"
              id="transporteur-input"
              aria-describedby="transporteur nom"
              required
            />
          </div>
          <div class="" style="display: flex; gap: 20px; margin-top: 20px;">
            <button type="submit" class="btn btn-primary mb-4">Ajouter</button>
            <div class="mb-4">
              <a href="/admin/transporteurs" class="btn btn-secondary">Annuler</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
