<div id="admin-page-transporteur">
    <div id="admin-blocs-produitHeader">
        <div class="produit-menu">
          <h1>Transporteur</h1>
          <div class="produit-menu-btn">
            <a class="btn btn-info" href="/admin/transporteurs/add">
              <i class="fa-solid fa-circle-plus"></i> Ajouter
            </a>
          </div>
        </div>
    </div>
</div>