<div id="admin-page-transporteur-add">

  
  <div id="admin-blocs-produitHeader" class="mb-4">
    <div class="produit-menu">
      <a href="/admin/transporteurs" style="color: rgb(36, 33, 33);" class="form-label">voir tous les  Transporteurs</a>
      <div class="produit-menu-btn">
        <a class="btn btn-info" href="/admin/transporteurs/add">
          <i class="fa-solid fa-circle-plus"></i> Ajouter un nouveau
          transporteur
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 card shadow">
        <% if (typeof succesMsg == 'string') { %>
        <div class="alert alert-success mt-3 d-flex justify-content-between" role="alert">
          <%= succesMsg %> <button type="button" class="btn-close btn-close-flash" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %> <% if (typeof nothingMsg == 'string') { %>
        <div class="alert alert-secondary mt-3 d-flex justify-content-between" role="alert">
          <%= nothingMsg %> <button type="button" class="btn-close btn-close-flash" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
        <form method="post" action="/admin/transporteurs/update">
          <div class="mb-3 pt-3">
            <label for="transporteur-input" class="form-label"
              >Nom du transporteur</label
            >
            <input
              type="hidden"
              name="trs_id"
              value="<%= transporteurs.trs_id %>"
            />
            <input
              type="text"
              name="trs_libelle"
              class="form-control"
              id="transporteur-input"
              aria-describedby="transporteur nom"
              value="<%= transporteurs.trs_libelle %>"
            />
          </div>
         
          <div class="w-100 d-flex gap-4">
            <button type="submit" class="btn btn-primary mb-4">Modifier</button>
            <div class="mb-4 ">
              <a href="/admin/transporteurs" class="btn btn-secondary">Annuler</a>
            </div>
           
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
