<div id="page-inscription">
    <div class="title-recherche">
      <span><a href="/">Home</a></span>
      <span>/Register</span>
    </div>
  
    <div class="resultat">
      <p>Create an account</p>
    </div>
  
    <div class="content">
      <div class="register-form">

  
        <div class="alert alert-danger hide-alert" id="alert-show" role="alert">
          <p id="error-mesage"></p>
        </div>
       
          <div class="alert alert-success"  role="alert">
            <p>User created successfuly! A connection link to the web site has been sent to your respective email</p>
          </div>
      </div>
    </div>
  </div>
  <script src="/javascripts/inscription.js"></script>
  