@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");
@import url("../variables.scss");
@font-face {
  font-family: Byciclette;
  src: url(fonts/Bicyclette-Black.woff);
}
@font-face {
  font-family: BycicletteThin;
  src: url(fonts/Bicyclette-Thin.woff);
}
#bloc-header .navbar {
  background-color: #fff;
}
#bloc-header h1 {
  color: green;
}

#bloc-footer {
  width: 100%;
  background-color: #a0b21f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 35px;
}
@media (max-width: 680px) {
  #bloc-footer {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1000px) {
  #bloc-footer {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#bloc-footer .logo-footer {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 680px) {
  #bloc-footer .logo-footer {
    display: none;
  }
}
#bloc-footer .spoon-buttom {
  width: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#bloc-footer .spoon-buttom .icon-chevron {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
@media (max-width: 680px) {
  #bloc-footer .spoon-buttom {
    font-weight: 10px;
  }
}
#bloc-footer .menu-footer {
  width: 30%;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  #bloc-footer .menu-footer {
    width: 50%;
    padding: 20px 35px;
  }
}
@media (max-width: 680px) {
  #bloc-footer .menu-footer {
    width: 70%;
    padding: 20px 5px;
  }
}
#bloc-footer .menu-footer a {
  text-decoration: none;
  color: #232323;
  font-size: 1rem;
  font-weight: 300;
}
@media (max-width: 680px) {
  #bloc-footer .menu-footer a {
    font-size: 0.8rem;
  }
}

#pages-home {
  margin-top: 130px;
}
@media (max-width: 767px) {
  #pages-home .element-slider-suggestion .carousel-inner .carousel-item > div {
    display: none;
  }
  #pages-home .element-slider-suggestion .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
#pages-home .element-slider-suggestion .carousel-inner .carousel-item.active,
#pages-home .element-slider-suggestion .carousel-inner .carousel-item-next,
#pages-home .element-slider-suggestion .carousel-inner .carousel-item-prev {
  display: flex;
}
@media (min-width: 768px) {
  #pages-home .element-slider-suggestion .carousel-inner .carousel-item-end.active,
  #pages-home .element-slider-suggestion .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  #pages-home .element-slider-suggestion .carousel-inner .carousel-item-start.active,
  #pages-home .element-slider-suggestion .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}
#pages-home .element-slider-suggestion .carousel-inner .carousel-item-end,
#pages-home .element-slider-suggestion .carousel-inner .carousel-item-start {
  transform: translateX(0);
}
#pages-home .element-slider-suggestion .font-weight-light {
  margin-bottom: 20px;
  font-family: "Byciclette";
}
#pages-home .element-slider-suggestion #suggestion-carousel {
  margin-bottom: 1.5rem;
}
#pages-home .element-slider-suggestion #suggestion-carousel .carousel-inner .carousel-item {
  height: 400px;
}
#pages-home .element-slider-suggestion #suggestion-carousel .carousel-inner .carousel-item .item-card .item-card-img {
  margin-bottom: 1.563rem;
}
#pages-home .element-slider-suggestion #suggestion-carousel .carousel-inner .carousel-item .item-card .item-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: "Poppins";
  font-size: 0.875rem;
  text-align: center;
}
#pages-home .element-slider-suggestion #suggestion-carousel .carousel-inner .carousel-item .item-card .item-card-text .price {
  max-width: max-content;
  font-weight: 800;
  position: relative;
}
#pages-home .element-slider-suggestion #suggestion-carousel .carousel-inner .carousel-item .item-card .item-card-text .price::after {
  content: "";
  height: 10px;
  width: 5px;
  border-right: solid 5px green;
  position: absolute;
  right: -10px;
  top: 5px;
}
@media (max-width: 680px) {
  #pages-home .element-slider-suggestion #suggestion-carousel .carousel-inner .carousel-item .item-container {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  #pages-home .element-slider-suggestion #suggestion-carousel .carousel-inner .carousel-item .item-container {
    width: 100%;
  }
}
#pages-home .section-location {
  display: flex;
  flex-direction: row;
  background-color: ghostwhite;
  min-height: 600px;
}
#pages-home .section-location .section-location-img {
  width: 36%;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url(/images/location.jpg);
}
#pages-home .section-location .section-location-img img {
  width: 100%;
  object-fit: contain;
}
@media (max-width: 1000px) {
  #pages-home .section-location .section-location-img {
    display: none;
  }
}
@media (max-width: 680px) {
  #pages-home .section-location .section-location-img {
    display: none;
  }
}
#pages-home .section-location .section-location-text {
  width: 64%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  #pages-home .section-location .section-location-text {
    width: 100%;
  }
}
@media (max-width: 680px) {
  #pages-home .section-location .section-location-text {
    width: 100%;
  }
}
#pages-home .section-location .section-location-text h1 {
  width: 80%;
  font-weight: 400;
  color: #a0b21f;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-family: "Cardo";
  font-size: 2rem;
  text-align: center;
}
#pages-home .section-location .section-location-text .content {
  font-family: "Cardo";
}
#pages-home .section-location .section-location-text .content h2 {
  color: #a0b21f;
  font-weight: bolder;
  font-size: 1.3125rem;
  font-family: inherit;
}
#pages-home .section-location .section-location-text .content ul li {
  color: #a0b21f;
  font-weight: 500;
  font-family: inherit;
  position: relative;
  list-style: none;
}
#pages-home .section-location .section-location-text .content ul li::before {
  content: ">";
  position: absolute;
  left: -20px;
  top: 0;
}
#pages-home .section-location .section-location-text .content p {
  font-weight: normal;
  font-family: inherit;
  letter-spacing: normal;
}
#pages-home .section-location .section-location-text .section-location-divider {
  width: 100%;
  height: 10px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}
#pages-home .section-location .section-location-text .section-location-divider span {
  display: block;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #a0b21f;
  width: 20%;
}

/*# sourceMappingURL=main.css.map */
