<%- include('../blocs/PanierDetailHeader') %>
<div id="admin-page-panier-detail">
  <div class="total-panier">
    <i class="fa fa-shopping-cart cart-total" aria-hidden="true"></i>
    <div class="montant">
      <h4>Total du panier</h4>
      <h5>PANIER N° 309</h5>
      <h6>254,70 €</h6>
    </div>
  </div>
  <div class="information">
    <div class="info-client">
      <h3>Information client</h3>
      <div>
        <h4>Mme FRÉDÉRIQUE JEAHANIN</h4>
        <span>nocam@gmail.com</span>
      </div>
      <p>Compte créé le 27/04/2023</p>
      <p>Commandes validées : <span>0</span></p>
      <p>Total depense depuis inscription : <span>0.00 €</span></p>
    </div>
    <div class="info-commande">
      <h3>Information commande</h3>
      <h4>Commande n°177</h4>
      <p>Réaliséé le 27/04/2023</p>
    </div>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Produit</th>
          <th scope="col">Prix Unitaire</th>
          <th scope="col">Quantité</th>
          <th scope="col">Stock</th>
          <th scope="col">Total</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">
            <img src="/" alt="" class="img-fluid w-100 h-25 img-content" />
          </td>
          <td
            scope="row"
            class="w-100"
            style="display: flex; flex-direction: column"
          >
            <span class="w-100">GTC4B - Tutu plateua habillé rouge </span>
            <span>Ref : GTC4B</span>
          </td>

          <td scope="row">32,00 €</td>
          <td scope="row">1</td>
          <td scope="row">1001</td>

          <td scope="row">32.00 €</td>
          <td></td>
          <td scope="row"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pb-4">
    <hr>
    <table class="w-100">
      <tr class="d-flex flex-row justify-content-between">
        <td>Total produits :</td>
        <td>32,00 €</td>
      </tr>
      </table>
      <hr>
      <table class="w-100">
      <tr class="d-flex flex-row justify-content-between">
        <td>Total emballage cadeau :</td>
        <td>32,00 €</td>
      </tr>
    </table>

    <hr>
      <table class="w-100">
      <tr class="d-flex flex-row justify-content-between">
        <td>Total frais port : </td>
        <td>32,00 €</td>
      </tr>
    </table>
      
    <hr>
    <table class="w-100">
      <tr class="d-flex flex-row justify-content-between">
        <th class="">Total : </td>
        <th class="">32,00 €</td>
      </tr>
    </table>
    <hr>
  </div>
  <div class="message pt-4">
     <p>
        <span><i class="fa fa-exclamation-triangle danger" aria-hidden="true"></i></span>
     Pour ce groupe de clients , les prix sont affichés : <span class="fw-bold">TTC</span>
   </p>    

  </div>
</div>
