<%- include('../blocs/panierHeader') %>
<div id="admin-page-panier">
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">ID</th>
        <th scope="col">ID commande</th>
        <th scope="col">Client</th>
        <th scope="col">Total</th>
        <th scope="col">Transporteur</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
            </td>
            <td scope="row">2</td>
            <td scope="row">42</td>
            <td scope="row">F.Disudi</td>
            <td scope="row">29889€</td>
            <td scope="row">Tout en  livraison</td>
            <td scope="row"></td>
        </tr>
    </tbody>

</div>