@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100&display=swap');
@font-face {
    font-family: Byciclette;
    src: url(fonts/Bicyclette-Black.woff);
}
@font-face {
    font-family: BycicletteThin;
    src: url(fonts/Bicyclette-Thin.woff);
} 
