@import "fonts";
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "blocs/header";
@import "blocs/footer";
@import "blocs/mobil-menu";
@import "blocs/kart";
@import "blocs/admin/sidebar";
@import "pages/home";
@import "pages/creation";
@import "pages/contact";
@import "pages/catalogue";
@import "pages/promotion";
@import "pages/nouvelleColletion";
@import "pages/mon-compte";
@import "pages/recherche";
@import "pages/connexion";
@import "pages/panier";
@import "pages/identite";
@import "pages/nouvelle-adresse";
@import "pages/donnee";
@import "pages/historique";
@import "pages/reduction";
@import "pages/avoir";
@import "pages/alert";
@import "blocs/modal";
@import "pages/commander";
@import "pages/inscription";
@import "pages/article";
@import "pages/mensionLegale";
@import "pages/adresses";
@import "pages/confirmationcommande.scss";
@import "pages/editAdress.scss";
@import "pages/error.scss";
@import "pages/mail.scss";
@import "pages/admin/admin.produit.scss";
@import "pages/admin/admin.client.scss";
@import "pages/admin/admin.addClient.scss";
@import "pages/admin/admin.editAdresse.scss";
@import "pages/admin/admin.adresse.scss";
@import "pages/admin/admin.addApply.scss";
@import "pages/admin/admin.typeCategories.scss";
@import "pages/admin/admin.editTypeCat.scss";
@import "pages/admin/admin.ajoutTypeCat.scss";
@import "pages/admin/admin.ajoutCat.scss";
@import "pages/admin/admin.editCat.scss";
@import "pages/admin/admin.categories.scss";
@import "pages/admin/admin.fraisport.scss";
@import "pages/admin/admin.ajoutFraisPort.scss";
@import "pages/admin/admin.editFraisPort.scss";
@import "pages/devis.scss";
@import "pages/admin/admin.connexion";
@import "pages/admin/admin.dashboard";
@import "pages/admin/admin.details.client.scss";
@import "pages/admin/admin.devis";
@import "pages/admin/admin.promo.scss";
@import "blocs/admin/produitHeader.scss";
@import "blocs/admin/clientHeader.scss";
@import "pages/admin/admin.panier";
@import "blocs/admin/panierHeader.scss";
@import "pages/admin/admin.PanierDetail";
@import "pages/admin/admin.facture.scss";
@import "pages/admin/admin.ajoutProduit.scss";
@import "pages/admin/admin.tailles.scss";
@import "pages/admin/admin.devis.view";
@import "pages/admin/admin.ajoutAdresse";
@import "pages/admin/admin.editProduit.scss";
@import "pages/admin/admin.apply.scss";
@import "pages/admin/admin.produits.location";