$color-primary: #a0b21f;
$color-button-secondary: #61ce70;
$color-button-primary: rgb(75, 119, 216);
$color-button-primary-2: rgb(127, 157, 221);
$color-secondary: #7a7a7a;
$color-important: #363a42;
$color-black: #232323;
$color-white: #fff;
$color-red: #b30707;
$color-white-secondary: #eeeeee;
$color-black-admin: #363a41;
$color-blue-admin: #25b9d7;
$color-red-admin: #ec5b5b;
$typograohie: "Manrope",
    sans-serif;
$padding-L-R :5rem;
$breakpoints: (
    header: 1000px,
    mobil: 680px,
);
$tablette: 1000px;
$mobil: 680px;
$moyen : 1115px;
$extra: 2560px;

@mixin breakpoint($point) {
    @if $point==moyen {
        @media (max-width: $moyen) {
            @content;
        }
    }

    @else if $point==tablette {
        @media (max-width: $tablette) {
            @content;
        }
    }

    @else if $point==mobil {
        @media (max-width: $mobil) {
            @content;
        }
    }

    @else if $point==extra {
        @media (max-width: $extra) {
            @content;
        }
    }
}

@mixin cover($bkgImage) {
    background-image: url($bkgImage);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

@mixin font($family: $typographie, $size: sizeHeading) {
    font-family: $family;
    font-size: $size;
}