<div id="admin-page-frais-port">
    <div class="ajouter-typecat">
        <div class="text">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a class="fil-ariane-item" href="#">Referentiel</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                   <span>Frais port</span>
                  </li>
                </ol>
              </nav>
        </div>
        <div class="button">
            <button class="btn btn-info">
                <span>+</span>
                <span>Ajouter</span>
            </button>
        </div>
    </div>
    
    <div class="table-content">     
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Libellé</th>
                <th> Date debut</th>
                <th>Date fin</th>
                <th>Actif</th>
                <th>Default</th>
                <th>Description</th>
                <th>Image</th>
                <th>HT</th>
                <th>TTC</th>
                <th>Actions</th>
            </tr>
         
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11 £</td>
                    <td>12 £</td>
                    <td class="td-icones">
                        <i class="fa-solid fa-eye icons"></i> 
                        <i class="fas fa-edit icons"></i>
                        <i class="fa fa-trash icons" aria-hidden="true"></i>
                    </td>
                </tr>
           
          </table>
    </div>
    </div>