<div id="admin-blocs-produitHeader">
    <h6 class="pt-3">Clients</h6>
    <div class="produit-menu">
      <h2>Créer un nouveau client</h2>
      <div class="produit-menu-btn">
        <button type="button" class="btn btn-info">
          <i class="fa-solid fa-circle-plus"></i> Ajouter un nouveau client
        </button>
        <button type="button" class="btn btn-outline-secondary">Aide</button>
      </div>
    </div>
  </div>
  
<div>

</div>