<div id="admin-blocs-ClientHeader" class="border-bottom">
  <h6 class="pt-3"><a href="/admin/clients">Clients</a></h6>
  <div class="produit-menu">
    <h4>Créer un nouveau client</h4>
    <div class="produit-menu-btn">
      <button type="button" class="btn btn-info">
        <i class="fa-solid fa-circle-plus"></i> Ajouter un nouveau client
      </button>
    </div>
  </div>
</div>

<% if (typeof errorMsg !== 'undefined') { %>
<div class="alert alert-danger mt-3" role="alert"><%= errorMsg %></div>
<% } %> <% if (typeof succesMsg == 'string') { %>
<div class="alert alert-success mt-3" role="alert"><%= succesMsg %></div>
<% } %>

<div id="admin-page-add-clients" class="mt-3 rounded mb-5">
  <div class="header-add-client d-flex gap-2 p-2 pb-0">
    <i class="fa-solid fa-user mt-1"></i>
    <p>Client</p>
  </div>
  <hr />
  <form method="POST" action="/admin/clients/add">
    <div class="d-flex flex-column gap-4">
      <div class="form-group d-flex gap-4">
        <div class="d-flex justify-content-end label-div">
          <label for="">Titre</label>
        </div>
        <div class="w-50">
          <select
            required
            class="form-select"
            aria-label="Default select example"
            name="tit_id"
          >
            <option selected>Sélectionner le titre</option>
            <% titres.forEach(element => { %>
            <option value="<%= element.tit_id %>">
              <%=element.tit_libelle %>
            </option>

            <% } )%>
          </select>
        </div>
      </div>
      <div class="form-group d-flex gap-4">
        <div class="d-flex justify-content-end label-div">
          <label for="InputPrenom">Prénom</label>
        </div>
        <div class="w-50">
          <input
            type="text"
            class="form-control"
            id="InputPrenom"
            aria-describedby="prenomHelp"
            name="cli_prenom"
            required
          />
          <small id="prenomHelp" class="form-text text-muted"
            >Seules les lettres et le point(.),suivi d'un espace, sont
            autorisés.</small
          >
        </div>
      </div>
      <div class="form-group d-flex gap-4">
        <div class="d-flex justify-content-end label-div">
          <label for="InputNom">Nom</label>
        </div>
        <div class="w-50">
          <input
            type="text"
            class="form-control"
            id="InputNom"
            aria-describedby="nomHelp"
            name="cli_nom"
            required
          />
          <small id="nomHelp" class="form-text text-muted"
            >Seules les lettres et le point(.),suivi d'un espace, sont
            autorisés.</small
          >
        </div>
      </div>
      <div class="form-group d-flex gap-4">
        <div class="d-flex justify-content-end label-div">
          <label for="InputPhone">Téléphone</label>
        </div>
        <div class="w-50">
          <input
            type="text"
            class="form-control"
            id="InputPhone"
            name="cli_num"
            required
          />
        </div>
      </div>
      <div class="form-group d-flex gap-4">
        <div class="d-flex justify-content-end label-div">
          <label for="InputFunction">Fonction</label>
        </div>
        <div class="w-50">
          <input
            type="text"
            class="form-control"
            id="InputFunction"
            name="cli_fonction"
            required
          />
        </div>
      </div>
      <div class="form-group d-flex gap-4">
        <div class="d-flex justify-content-end label-div">
          <label for="InputEmail">E-mail</label>
        </div>
        <div class="w-50">
          <input
            type="email"
            class="form-control"
            id="InputEmail"
            name="cli_mail"
            required
          />
        </div>
      </div>
      <div class="form-group d-flex gap-4">
        <div class="d-flex justify-content-end label-div">
          <label for="InputPassword">Mot de passe</label>
        </div>
        <div class="w-50">
          <input
            type="password"
            class="form-control"
            id="InputPassword"
            name="cli_pwd"
            required
          />
        </div>
      </div>
      <div class="form-group d-flex gap-4">
        <div class="d-flex justify-content-end label-div">
          <label for="InputNom">Activé</label>
        </div>
        <div class="w-50">
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              id="activateClient"
              name="cli_activation"
              value="true"
              type="checkbox"
              checked
            />
          </div>
        </div>
      </div>
      <div class="form-group d-flex gap-4">
        <div class="d-flex justify-content-end label-div">
          <label for="InputNewsletter">Newsletter</label>
        </div>
        <div class="w-50">
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              id="InputNewsletter"
              name="cli_newsletter"
              value="true"
              type="checkbox"
              checked
            />
          </div>
        </div>
      </div>
      <div class="form-group d-flex gap-4">
        <div class="d-flex justify-content-end label-div">
          <label for="InputPartenaires">Partenaires</label>
        </div>
        <div class="w-50">
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              id="InputPartenaires"
              name="cli_partenaire"
              value="true"
              type="checkbox"
            />
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="d-flex justify-content-between p-2">
      <a href="/admin/clients">
        <button type="button" class="btn btn-outline-secondary">Annuler</button>
      </a>
      <button type="submit" class="btn btn-info">Enregistrer</button>
    </div>
  </form>
</div>
