<header id="bloc-header">
  <div>
    <div class="top-bar d-flex flex-row justify-content-between">
      <div class="title-content">
        <p>Tel. 06 14 28 99 81</p>
        <p>LOCATION ET CRÉATION DE COSTUMES DE DANSE</p>
      </div>
      <div class="link-content">
        <a  href="#">S'inscrire</a>&nbsp
        <p>-</p>
        &nbsp
        <a  href="#"> Connexion</a>
      </div>
      <div class="social-link d-flex flex-row">
        <a  href="https://www.facebook.com/aiguillesenscene.aiguillesenscene" target="_blank"
          ><i class="fa-2x fa-brands fa-facebook "></i
        ></a>
        <a  href="https://www.instagram.com/aiguillesenscene/?hl=fr" target="_blank"
          ><i class="fa-2x fa-brands fa-instagram"></i>
        </a>
      </div>
    </div>
    <div class="nav-main-content sentinal">
      <a class="navbar-brand" href="/"
        ><img src="/images/logo.png" class="logo-img" alt="" srcset=""
      /></a>
      <div class="nav-content">
        <nav class="navbar navbar-expand-lg ">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span> 
                </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Qui Somme-Nous ? </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/catalogue" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Catalogue
                    </a>
                    <div class="dropdown-main-content">
                      <div  class="dropdown-content-title">
                        <div>
                          <h5>COSTUMES POUR PETITS</h5>
                        </div> 
                         <div>
                          <h5>COSTUMES POUR MOYENS</h5>
                        </div> 
                         <div>
                          <h5>COSTUMES POUR GRANDS</h5>
                        </div> 
                         <div>
                          <h5>ACCESSOIRES</h5>
                        </div>
                      </div>
                      <div class="dropdown-content">
                        <h5>Another action</h5>
                        <h5>Something else here</h5>
                      </div><div class="dropdown-content">
                        <h5>Another action</h5>
                        <h5>Something else here</h5>
                      </div>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/creation">Création</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Nouvelle Collection</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Promotions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                  </li>
            </nav>
        <h4 class="menu-button m-3">Menu</h4>
        <div class="d-flex flex-row search-div">
          <i class="fa-solid fa-magnifying-glass mt-1"></i>
          <form class="form-inline my-2 my-lg-0">
            <input type="text" placeholder="Rechercher" class="search-input" />
          </form>
        </div>
        <div class="d-flex flex-row user-div">
          <a href="#"><i class="fa-solid fa-user"></i></a>
          <a data-bs-toggle="offcanvas" href="#bloc-panier" role="button" aria-controls="bloc-panier"
            ><i class="fa-solid fa-cart-shopping"></i
          ></a>
        </div>
      </div>
    </div>  
  </div>
</header>
<div id="headerSticky" >
  <div class="d-flex nav-main-content ">
      <nav class="navbar navbar-expand-lg second-navbar">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span> 
              </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Qui Somme-Nous ? </a>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="/catalogue"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Catalogue
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/creation">Création</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Nouvelle Collection</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Promotions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
          </nav>
      <div class="d-flex flex-row second-search-div">
        <i class="fa-solid fa-magnifying-glass second-glass mt-1"></i>
        <form class="form-inline my-2 my-lg-0">
          <input type="text" placeholder="Rechercher" class="search-input" />
        </form>
      </div>
    </div>
</div>
<div id="header-banner">
  <img src="/images/banner.jpg" alt="" srcset="" class="img-fluid barner-img">
</div>
  <div id="details-infos">
    <div class="infos-content">
      <img src="/images/picto01.png" class="img-fluid" alt="">
      <h6>VOUS IMAGINEZ, NOUS CRÉONS</h6>
      <p>Création, réalisation et confection personalisée</p>
    </div >
     <div class="infos-content">
      <img src="/images/picto01.png" class="img-fluid" alt="">
      <h6>VOUS CHERCHEZ, NOUS AVONS</h6>
      <p>18000 costumes - 1362 références tous styles de danses</p>
    </div>
     <div class="infos-content">
      <img src="/images/picto01.png" class="img-fluid" alt="">
      <h6>VOTRE DEVIS EN LIGNE</h6>
      <p>Intéractif, rapide et accessible 24/24 h</p>
    </div> 
    <div class="infos-content">
      <img src="/images/picto01.png" class="img-fluid" alt="">
      <h6>ON S’OCCUPE DE TOUT</h6>
      <p>un seul interlocuteur, un seul contrat, une seule facture</p>
    </div>
     <div class="infos-content">
      <img src="/images/picto01.png" alt="">
      <h6>LA SOLUTION CLÉ EN MAIN</h6>
      <p>Fini les problèmes de lavage,stockage et entretien</p>
    </div>

  </div>