<header id="bloc-header">
    <div>
        <div class="top-bar ">
            <div class="title-content">
                <p>Tel. 06 14 28 99 81</p>
                <p>LOCATION ET CRÉATION DE COSTUMES DE DANSE</p>
            </div>
            <div class="link-content">
                <a href="/inscription">S'inscrire</a>&nbsp
                <p>-</p>
                &nbsp
                <a href="/connexion"> Connexion</a>
            </div>
            <div class="social-link d-flex flex-row">
                <a href="https://www.facebook.com/aiguillesenscene.aiguillesenscene" target="_blank"><i class="fa-2x fa-brands fa-facebook "></i
                ></a>
                <a href="https://www.instagram.com/aiguillesenscene/?hl=fr" target="_blank"><i class="fa-2x fa-brands fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="nav-main-content sentinal">
            <a class="navbar-brand" href="/"><img src="/images/logo.png" class="logo-img img-fluid" alt="" srcset="" /></a>
            <div class="nav-content">
                <nav class="navbar navbar-expand-lg ">
                    <button class="btn btn-canva" data-bs-toggle="offcanvas" data-bs-target="#menu-mobil-canva" role="button" aria-controls="menu-mobil-canva">
                        <span class="navbar-toggler-icon"></span> 
                    </button>
                </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/#qui-sommes-nous">Qui Somme-Nous ? </a>
                            </li>
                            <li class="nav-item dropdown">
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" href="/catalogue" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Catalogue
                                        </a>
                                    <div class="dropdown-menu dropdown-parent" aria-labelledby="dropdownMenuButton">
                                        <div class="menu-title">

                                            <div class="title-catalogue">
                                                <h6>COSTUMES POUR PETITS</h6>
                                                <hr>
                                                <ul>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                </ul>
                                            </div>
                                            <div class="title-catalogue">
                                                <h6>COSTUMES POUR MOYENS</h6>
                                                <hr>
                                                <ul>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                </ul>
                                            </div>
                                            <div class="title-catalogue">
                                                <h6>CONSTUMES POUR GRANDS</h6>
                                                <hr>
                                                <ul>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                </ul>
                                            </div>
                                            <div class="title-catalogue">
                                                <h6>ACCESSOIRES</h6>
                                                <hr>
                                                <ul>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                    <li>Academies cotes combinaison</li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/creation">Création</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/nouvelleCollection">Nouvelle Collection</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='/promotion'>Promotions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <h4 class="menu-button m-3">Menu</h4>
                <div class="d-flex flex-row search-div">
                    <i class="fa-solid fa-magnifying-glass mt-1"></i>
                    <form class="form-inline my-2 my-lg-0">
                        <input type="text" placeholder="Rechercher" class="search-input" />
                    </form>
                </div>
                <div class="d-flex flex-row user-div">
                    
                    <div class="dropstart">
                        <i class="fa-solid fa-user fa-xl dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></i>
                        <ul class="dropdown-menu user-menu-Dropdown">
                            <li><a class="dropdown-item" href="/mon-compte"><i class="fa-regular fa-user"></i> Mon compte</a></li>
                            <li><a class="dropdown-item" href="/mon-compte/adresses"><i class="fa-regular fa-address-book"></i> Adresse</a></li>
                            <li><a class="dropdown-item" href="/mon-compte/historique"><i class="fa-solid fa-bars"></i> Historique de vos commandes</a></li>  
                            <li><a class="dropdown-item" href="/"><i class="fa-solid fa-right-to-bracket"></i> Déconnexion</a></li>
                        </ul>
                      </div>
                      <a data-bs-toggle="offcanvas" href="#bloc-panier" role="button" aria-controls="bloc-panier"><i class="fa-solid fa-xl fa-cart-shopping"></i
                        ></a>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="headerSticky">
    <div class="d-flex nav-main-content ">
        <nav class="navbar navbar-expand-lg second-navbar">
            <button class="btn btn-canva" data-bs-toggle="offcanvas" data-bs-target="#menu-mobil-canva" role="button" aria-controls="menu-mobil-canva">
                <span class="navbar-toggler-icon"></span> 
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/#qui-sommes-nous">Qui Somme-Nous ? </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/catalogue" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Catalogue
                        </a>
                        <div class="dropdown-menu dropdown-parents" aria-labelledby="dropdownMenuButton">
                            <div class="menu-title">
                                <div class="title-catalogue">
                                    <h6>COSTUMES POUR PETITS</h6>
                                    <hr>
                                    <ul>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                    </ul>
                                </div>
                                <div class="title-catalogue">
                                    <h6>COSTUMES POUR MOYENS</h6>
                                    <hr>
                                    <ul>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                    </ul>
                                </div>
                                <div class="title-catalogue">
                                    <h6>CONSTUMES POUR GRANDS</h6>
                                    <hr>
                                    <ul>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                    </ul>
                                </div>
                                <div class="title-catalogue">
                                    <h6>ACCESSOIRES</h6>
                                    <hr>
                                    <ul>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                        <li>Academies cotes combinaison</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="/creation">Création</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nouvelleCollection">Nouvelle Collection</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/promotion">Promotions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-row second-search-div">
            <i class="fa-solid fa-magnifying-glass second-glass mt-1"></i>
            <form class="form-inline my-2 my-lg-0">
                <input type="text" placeholder="Rechercher" class="search-input" />
            </form>
        </div>
    </div>
</div>

<div id="header-banner">
    <img src="/images/banner.jpg" alt="" srcset="" class="img-fluid barner-img">
</div>
<div id="details-infos">
    <div class="infos-content">
        <img src="/images/picto01.png" class="img-fluid" alt="">
        <h6>VOUS IMAGINEZ, NOUS CRÉONS</h6>
        <p>Création, réalisation et confection personalisée</p>
    </div>
    <div class="infos-content">
        <img src="/images/picto01.png" class="img-fluid" alt="">
        <h6>VOUS CHERCHEZ, NOUS AVONS</h6>
        <p>18000 costumes - 1362 références tous styles de danses</p>
    </div>
    <div class="infos-content">
        <img src="/images/picto01.png" class="img-fluid" alt="">
        <h6>VOTRE DEVIS EN LIGNE</h6>
        <p>Intéractif, rapide et accessible 24/24 h</p>
    </div>
    <div class="infos-content">
        <img src="/images/picto01.png" class="img-fluid" alt="">
        <h6>ON S’OCCUPE DE TOUT</h6>
        <p>un seul interlocuteur, un seul contrat, une seule facture</p>
    </div>
    <div class="infos-content">
        <img src="/images/picto01.png" alt="">
        <h6>LA SOLUTION CLÉ EN MAIN</h6>
        <p>Fini les problèmes de lavage,stockage et entretien</p>
    </div>

</div>
