<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="bloc-panier"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="kart-items">
      <div class="kart-item">
        <div class="kart-img">
          <img src="" alt="" />
        </div>
        <div class="kart-content">
          <a href="#">MH19C - Top croisé dos nu bleu royal</a>
          <div class="actions">
            <span class="price">20$</span>
            <button class="btn-close"></button>
          </div>
        </div>
      </div>
    </div>
    <div id="kart-infos">
      <!-- <div class="kart-article">
        <div class="nbr-article">
          <span>0 articles</span>
        </div>
        <div class="price">
          <span> €</span>
        </div>
      </div>

      <div class="kart-livraison">
        <div class="total">
          <span>Livraison</span>
        </div>
        <div class="price-total">
          <span>0.00 €</span>
        </div>
      </div>
      <div class="kart-livraison">
        <div class="total">
          <span>Frais de dossier</span>
        </div>
        <div class="price-total">
          <span>0.00 €</span>
        </div>
      </div>

      <div class="kart-total">
        <div class="total">
          <span>Total</span>
        </div>
        <div class="price-total">
          <span>0.00 €</span>
        </div>
      </div> -->

    <hr />

    <!-- <p>Aucun produit dans le chariot.</p> -->
    <div class="kart-btns">
      <a href="/panier/#page-panier" class="btn-voirpanier">
        <button>
          Voir le <br />
          panier
        </button>
      </a>
      <a href="/commander/#page-commander" class="btn-commander">
        <button>Commander</button>
      </a>
    </div>
  </div>
  </div>
</div>
