<div
  class="modal"
  tabindex="-1"
  id="parent_modal"
  aria-labelledby="parent_modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content" id="myModal">
      <div class="modal-header title-modal">
        <div class="title-modal-message">
          <div class="modal-product-valid">
            <div class="close">
              <i class="fa fa-check icon-check" id="add-img-icone"></i>
              <i class="fa-solid fa-xmark" id="add-img-fall-icone"></i>
            </div>
            <p id="add-product">Produit ajouté au panier avec succès</p>
          </div>
          <div class="close" id="close">
            <!-- <i class="fa-solid fa-xmark icon-xmark"></i> -->
            <button
              type="button"
              class="btn-close icon-xmark"
              data-bs-dismiss="modal"
              aria-label="Close"
              id="modal-btn-close"
            ></button>
          </div>
        </div>
      </div>
      <div class="modal-body body-modal">
        <p id="max-qte-text" class="mx-auto p-3 pt-5">Impossible d'ajouter cet article au panier ! car sa quantité disponible est de  </p>
        <img src="/images/loader.gif" alt="" class="mx-auto" id="modal-loader"/>
        <!-- <div class="body-modal-detail">
          <div id="produit-image-cadre">
            <img src="/images/sommaire-3.jpg" alt="" srcset="" />
          </div>
        <div class="info-product">
          <h4>GH31D - Haut col mao bleu canard</h4>
          <div class="product-montant">7,00 €</div>
          <div class="product-quantity">Quantité : <span> 3 </span></div>
        </div>
      </div>
      <div class="modal-body-commande">
        <h5>Il y a 11 articles dans votre panier.</h5>
        <div class="sous-total">
          <span class="sous-total-titre">Sous-total :</span>
          <span class="sous-total-montant">87,50 €</span>
        </div>
        <div class="transport">
          <span class="transport-titre">transport:</span>
          <span class="transport-montant">87,50 €</span>
        </div>
        <div class="total">
          <span class="total-titre">total:</span>
          <span class="total-montant">87,50 €</span>
        </div>
        <div class="btn-achat">
          <button class="continuer">Continuer mes achats</button>
          <a href="/panier/#page-panier" class="finaliser">
            <i class="fa fa-check icon-succes"></i>
            <span>Finaliser le devis</span>
          </a>
        </div>
      </div> -->
      </div>
    </div>
  </div>
</div>
