<div class="modal" id="modal-promo" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Profitez de nos promotions sur les articles</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p id="modal-promo-content">Veillez patienter ...</p>
      </div>
    </div>
  </div>
</div>
