<div id="page-admin-ajoutProduit">
  <div class="product-container row">
    <div class="bloc-left col-md-8">
      <div class="row">
        <div class="left col-md-8">
          <div class="form-group has-feedback has-feedback-left">
            <input
              type="text"
              class="form-control"
              placeholder="Saisissez le nom de votre produit"
            />
            <span
              class="glyphicon glyphicon-info-sign form-control-feedback"
            ></span>
          </div>
          <p class="text">This value should be not blank</p>
        </div>

        <div class="right col-md-4">
          <select class="form-select" aria-label="Default select example">
            <option selected>produit standard</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <span><i class="fa-solid fa-circle-info"></i></span>
        </div>
      </div>
    </div>

    <div class="bloc-right col-md-4">
      <div>
        <span><i class="fa-solid fa-square-poll-vertical"></i></span>
        <p>Ventes</p>
      </div>
      <div>
        <span><i class="fa-solid fa-rectangle-list"></i></span>
        <p>Liste des produits</p>
      </div>
      <div>
        <span><i class="fa-solid fa-circle-question"></i></span>
        <p>Aide</p>
      </div>
    </div>
  </div>
</div>
