#admin-page-produits {
    margin-top: 2%;
    background-color: $color-white;

    .table {

        td,
        th {
            vertical-align: middle;
            font-size: 0.9rem;
        }

        .dropdown :hover>.dropdown-menu {
            display: block;
        }

        .dropdown-menu {
            inset: 5px 0px auto auto;
        }
    }
}