#page-admin-ajouter-fraisPort {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  .text {
    margin-top: 10px;
    height: 80px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 20px;
    .fil-ariane-item {
      text-decoration: none;
      color: $color-blue-admin;
    }
  }

  .form {
    padding: 10px;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    height: max-content;
    margin-bottom: 10px;


    form{
      width: 90%;
      margin: auto;
      padding: 20px;
    }

    input:focus {
      outline: none;
    }

    .text-area {
      width: 100%;
      margin: auto;
    }

    .button {
      display: flex;
      gap: 1rem;
      width: 100%;

      button{
        width: 30%;
        border: 1px solid silver;
        border-radius: 5px !important;
      }
    }
  }
}
