#page-admin-ajout-typeCat {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

    nav {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        .fil-ariane-item {
            text-decoration: none;
            color: $color-blue-admin;
        }
    }

    form {
        background-color: $color-white;
        margin-top: 5%;
        padding: 2%;
    }


}