
#admin-page-devis{
    font-size: 13px;
    .bloc-recherche{
        label{
            font-size: 13px;
        }
        #devis-search-Form{
            padding: 0;
            .ref_bloc{
                border-bottom: solid 2px $color-blue-admin;
                padding-bottom: 10px;
                margin-bottom: 10px;
                .col-auto{
                    width: 20%;
                }
            }
            .bloc_date_form{
                .date_bloc{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    div{
                        width: 35%;
                    }
                }
            }
        }

    }
    .table-container{
        width: 100%;
        overflow-x: scroll;
        table{
            .tr-accordion{
                display: none;
                padding-left: 20px;
                animation: fadeIn 1s;
                .td-body{
                    div{
                        width: 100%;
                    }
                }
                @keyframes fadeIn {
                    from { opacity: 0; }
                    to { opacity: 1; }
                }
            }
            .td-modal,.tr-id{
                padding: 5px;
                cursor: pointer;
                border-radius: 5px;
                background-color: $color-black;
                color: $color-white;
                text-align: center;
                position: relative;
                
            }
            .td-modal{
                left: 40%;
            }
            tr{
                .col-livraison,.col-spectacle{
                    div{
                        width: 100%;
                        h5{
                            font-size: 14px;
                            margin: 0;
                            text-align: center;
                        }
                        div{
                            display: flex;
                            flex-direction: row;
                            gap: 5%;
                            align-items: center;
                            align-content: center;
                        }
                    }
                    
                }
                .col-spectacle{
                    div{
                        div{
                            justify-content: space-between;
                        }
                    }
                }
                .data-livraison,.data-spectacle{
                    div{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        gap: 5%;
                        align-items: center;
                        justify-items: center;
                        padding-top: 10%;
                    }
                }
                .produit-detail{
                    padding: 0;
                    p{
                        padding: 0;
                        margin: 0;
                    }
                    .title{
                        font-weight: 800;
                    }
                }
            }
        }
    }
    #modal-devis{
        .modal-body{
            display: flex;
            flex-direction: column;
            .modalDevis-item{
                display: flex;
                flex-direction: row;
                gap: 10%;
                margin-bottom: 25px;
                .modalDevis-img{
                    width: 20%;
                    height: 50px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .modalDevis-txt{
                    h2{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
}