#admin-page-typeCategories {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  .ajouter-typecat {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    .fil-ariane-item {
      text-decoration: none;
      color: $color-blue-admin;
    }

    .button {
      button {
        width: 100px;
        color: $color-white;
      }
    }
  }

  .table-content {
    margin-top: 20px;
    background-color: $color-white;

    td,
    th {
      vertical-align: middle;
      font-size: 0.8rem;
    }

    a {
      text-decoration: none !important;
    }

    .fa-magnifying-glass,
    .fa-pen {
      color: $color-black;
    }

  }
}