#page-admin-ajoutProduit {
  padding: 20px 0px;
  font-family: $typograohie;

  .product-container {
    .bloc-left {
      .left {
        div input {
          font-size: 20px;
          &:focus {
            box-shadow: inset 0 -1px 0 transparent;
            outline: 1px solid $color-primary;
          }
        }

        .text {
          margin-top: 5px;
          font-size: 14px;
          color: rgb(204, 67, 67);
        }
      }

      .right {
        display: flex;
        align-items: center;
        gap: 15px;
        align-self: center;

        .form-select:focus {
          box-shadow: inset 0 -1px 0 transparent;
          outline: 1px solid $color-primary;
        }

        span {
          font-size: 16px;
          color: rgb(41, 144, 228);
        }
      }
    }

    .bloc-right {
      display: flex;
      justify-content: flex-end;
      gap: 15px;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
          font-size: 18px;
          color: gray;
        }

        p {
          font-size: 14px;
          color: gray;
        }
      }
    }
  }

  
  .tabs-container {
    margin-top: 30px;
    .tabs-left {
      nav {
        .nav {
          padding: 0px 20px;
          button {
            color: gray;
            margin-right: 30px;
          }
          .clicked {
            border-top: 2px solid rgb(204, 67, 67);
          }
          
        }
      }

      .tab-content {
      }
    }
  }

}
