#page-admin-ajoutAdresse {
  font-family: $typograohie;

  .top {
    padding: 20px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    p {
      font-size: 14px;
      strong {
        color: rgb(41, 144, 228);
      }
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

    }
  }

  .form{
    width: 70%;
    margin: 0 auto;
    padding: 20px 0px;

    .item{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 30px;

        .parag{
            flex: 1;
            text-align: right;

            span{
                color: red;
            }
        }

        .mb-3{
            flex: 3;
            label{
                font-size: 13px;
                margin-top: 5px;
            }
        }
    }
  }

  .buttons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        .btn-primary{
            background: rgb(41, 144, 228) !important;
            border-color: rgb(41, 144, 228);
        }

    }
}
