#admin-page-adresse {
    margin-top: 2%;

    .table {

        td,
        th {
            vertical-align: middle
        }
        .dropdown :hover>.dropdown-menu {
            display: block;
        }

        .dropdown-menu {
            inset: 5px 0px auto auto;
        }
    }
}