#admin-page-produits {
    // margin-top: 2%;
    background-color: $color-white;
       .table{
        border-bottom:1 solid  white;
       }
     .table-fixed  thead {
        position: sticky;
        top:150px;
       z-index:10;
       background-color: white;
        }
         .table-fixed  tbody{
            max-height: 1024px;
            overflow-y:hidden !important;
        
         }

    .table {
        // overflow: auto,;
       
        // thead tr th,tr td{
        //     background-color: red;
        //     position: sticky;
        //     top: 0;
        //     z-index: 1;
        //     overflow-y: hidden;
        // }
    //    tbody{
    //     max-height: 1024px;
    //     overflow-y: scroll;
    //    }
        td,
        th {
            vertical-align: middle;
            font-size: 0.9rem;
        }

        .dropdown :hover>.dropdown-menu {
            display: block;
        }

        .dropdown-menu {
            inset: 5px 0px auto auto;
        }
        .research-line{
            text-align: center;
        .plage{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3px;
        }
         .research{
            width: 80px;
            padding: 5px 10px;
            font-size: 13px;
            outline: none;
            border: 1px solid rgba(0,0,0,0.3);
            border-radius: 5px;
         }
         button{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 3px;
            font-size: 13px;
            color: white;
             padding: 5px 10px;
            //  cursor: not-allowed;
         }
        }
    }
    .page-item{
         .page-link{
          font-size: 1rem;
          &:marker{
            background-color:blue;
          }
    }
    }
   
    
}