#page-admin-edit-Cat{
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    nav{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        background-color: white;
        padding: 20px;

        .fil-ariane-item {
          text-decoration: none;
          color: $color-blue-admin;
        }
    }
    .content{
        background-color: #fff;
        padding: 10px;
        margin-top: 20px;
        height: 100px;
        width: 100%;

        .formulaire{
            width: 80%;
            margin: auto;
            margin-top: 20px;

            input{
                border-radius: none;
            }
           

            button{
                border-radius: none;
                border: none;
                font-size: medium;
                background-color: $color-blue-admin;
                color : #fff;
            }
        }
    }
}