#admin-page-frais-port {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: small;
  .ajouter-typecat {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
    background-color: white;

    .fil-ariane-item {
      text-decoration: none;
      color: $color-blue-admin;
    }

    .button {
      button {
        width: 90px;
        color: white;
        font-size: small;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  .table-content {
    margin-top: 20px;

    a {
      color: $color-blue-admin;
    }

    .td-icones {
      .icons {
        color: grey;
      }
    }
  }
}
