#admin-page-viewDevis{
    padding-bottom: 50px;
    .CodeMirror.cm-s-paper.CodeMirror-wrap.CodeMirror-empty,.CodeMirror-code{
        background-color: white;
    }
    font-size: 14px;
    h2{
        font-size: 14px;
    }
    .actions{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        gap: 15px;
        height: 50px;
        .form-select{
            width: 15%;
            background-color: rgba(255, 145, 0, 0.973);
            color: white;
        }
        .btn{
            padding: 0;
            padding-bottom: 5px;
            padding-right: 5px;
            padding-right: 5px;
        }
    }
    .content{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        gap: 5%;
        .left{
            width: 30%;
            .bloc-client{
                h3{
                    font-size: 16px;
                    font-weight: 600;
                    border-bottom: solid 1px gray;
                    padding-bottom: 10px;
                    line-height: 1.5rem;
                    padding-left: 20px;
                    padding-top: 10px;
                }
                .bloc-client-name{
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    padding-left: 20px;
                    p{
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
                .bloc-client-info{
                    padding: 20px;
                }
                .bloc-client-adresse{
                    padding: 20px;
                    .adresse-item{
                        div{
                            h2{
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
                            }
                        }
                    }

                }
                .bloc-client-commentaire{
                    padding: 20px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-start;

                    p{
                        cursor: pointer;
                    }
                }
            }
            .bloc-adresse{
                margin-top: 40px;
                .bloc-adresse-title{
                    border-bottom: solid 1px gray;
                    padding-bottom: 10px;
                    padding-left: 20px;
                    padding-top: 10px;
                }
                .bloc-adresse-content{
                    padding: 20px;
                    .bloc-adresse-content-spectacle{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        margin-bottom: 10px;
                    }
                    .bloc-adresse-content-repetition{
                        .date-repetition-item{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            .date-repetition-item-trash{
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .right{
            width: 65%;
            .produit-list{
                margin-bottom: 40px;
                .produit-list-title{
                    padding: 20px;
                    border-bottom: solid 1px gray;
                }
                .table-actions{
                    display: flex;
                    flex-direction: row;
                    padding: 20px;
                    .item-par-page{
                        width: 40%;
                        display: flex;
                        flex-direction: row;
                        gap: 5%;
                        .input-group{
                            width: 30%;
                        }
                    }
                    .buttons{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .btn{
                            width: 40%;
                            font-size: 14px;
                        }
                    }
                    
                }
                .table-resume{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 30px;
                    padding: 20px;
                }
            }
            .devis-note{
                .devis-note-form-action{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: baseline;
                    align-content: flex-start;
                    
                }
            }
            .commande-tabs{
                nav{
                    .nav.nav-tabs{
                        .nav-link.active{
                            border: none;
                            background-color: $color-white;
                            border-top: solid 5px $color-blue-admin;
                            border-radius: 0;

                        }
                    }
                }
            }
        }
    }
    
}