#page-admin-edit-typeCat {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

    form {
        background-color: $color-white;
        margin-top: 20px;
        padding: 2%;
    }
}