#admin-page-categories {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  .ajouter-typecat {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    .fil-ariane-item {
      text-decoration: none;
      color: $color-blue-admin;
    }

    #cat {
      font-size: 15px;
    }

    .button {
      button {
        width: 100px;
        color: white;
      }
    }
  }

  .table {
    background-color: $color-white;
    margin-top: 5%;
    padding: 2%;

    .fa-pen {
      color: $color-black;
    }
  }
}