#page-admin-produit-location{
    .card {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        h2{
            font-size: 16px;
            font-weight: 600;
        }
        form{
            height: 150px;
            display: flex;
            flex-direction: row;
            position: relative;
            .col-sm-3{
                display: flex;
                flex-direction: row;
                gap: 5px;
                .input-group{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-content: baseline;
                    gap: 5px;
                }
            }
            .btn-container{
                position: absolute;
                bottom: 0px;
            }
        }
        .table{
            thead tr th{
                font-size: 14px;
                font-weight: 400;
                margin: 0;
                div{
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    padding: 0;
                        h4{
                            font-size: 14px;
                            text-align: center;
                            margin: 0;
                        }
                        div{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            margin: 0;
                            padding: 0;
                            align-content: center;
                            p{
                                margin: 0;
                            }
                        }
                }
            }
            tbody tr td{
                div{
                    margin: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    p{
                        margin: 0;
                    }
                }
            }
        }
    }
}