<div id="page-panier">
  <div class="row panier-content">
    <div class="panier-details col-sm-12 col-md-7 col-lg-8">
      <div class="title">
        <h1>Panier</h1>
      </div>
      <hr />
      <div class="comment">
        <!-- <span>Il n'y a plus d'articles dans votre panier</span> -->
        <div class="articles row">
          <div class="col-md-1 id">MEP26A</div>
          <div class="col-md-3 image">
            <img src="/images/enfant1.jpg" class="img-fluid" alt="" />
          </div>
          <div class="col-md-3 description">
            <div class="desc">
              <a href="">MEP26A - <span>Ensemble pantalon rose</span></a>
            </div>
            <p class="price">10,00 €</p>
          </div>
          <div class="col-md-5 prices">
            <div class="row">
              <div class="col-md-10 block-price">
                <div class="row compteur">
                  <div class="col-md-6 qty-btn">
                    <input type="text" class="number-value" value="1" />
                    <div class="btns">
                      <button class="btn-up">
                        <span><i class="fa-solid fa-chevron-up"></i></span>
                      </button>
                      <button class="btn-down">
                        <span><i class="fa-solid fa-chevron-down"></i></span>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-6 prx">
                    <span>10,00 €</span>
                  </div>
                </div>
              </div>
              <div class="col-md-2 delete">
                <span><i class="fa-solid fa-trash"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="articles row">
          <div class="col-md-1 id">MEP26A</div>
          <div class="col-md-3 image">
            <img src="/images/enfant1.jpg" class="img-fluid" alt="" />
          </div>
          <div class="col-md-3 description">
            <div class="desc">
              <a href="">MEP26A - <span>Ensemble pantalon rose</span></a>
            </div>
            <p class="price">10,00 €</p>
          </div>
          <div class="col-md-5 prices">
            <div class="row">
              <div class="col-md-10 block-price">
                <div class="row compteur">
                  <div class="col-md-6 qty-btn">
                    <input type="text" class="number-value" value="1" />
                    <div class="btns">
                      <button class="btn-up">
                        <span><i class="fa-solid fa-chevron-up"></i></span>
                      </button>
                      <button class="btn-down">
                        <span><i class="fa-solid fa-chevron-down"></i></span>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-6 prx">
                    <span>10,00 €</span>
                  </div>
                </div>
              </div>
              <div class="col-md-2 delete">
                <span><i class="fa-solid fa-trash"></i></span>
              </div>
            </div>
          </div>
        </div>
        <a href="#"
          ><span class="icon"><i class="fa-solid fa-chevron-left"></i></span
          ><span class="link">Contineur mes achats</span></a
        >
      </div>
    </div>
    <div class="panier-price col-sm-12 col-md-5 col-lg-4">
      <div class="frais">
        <div class="item">
          <span class="title">2 articles</span>
          <span class="price">18,0 €</span>
        </div>
        <div class="item">
          <span class="title">Livraisons</span>
          <span class="price">3,00 €</span>
        </div>
        <div class="item">
          <span class="title">Frais de dossier</span>
          <span class="price">15,00 €</span>
        </div>
      </div>
      <hr />
      <div class="item total">
        <span>TTC</span>
        <span>15,00 €</span>
      </div>
      <div class="promo">
        <div class="link">
          <p>Vous avez un code promo ?</p>
        </div>
        <div class="code-promo">
          <div class="btn-promo">
            <input type="text" placeholder="Code promo"/>
            <button>Ajouter</button>
          </div>
          <p class="fermer">Fermer</p>
        </div>
      </div>
      <div class="button">
        <button>Finaliser le Devis</button>
      </div>
    </div>
  </div>

  <div class="products">
    <div class="title"><h2>PRODUITS POPULAIRES</h2></div>
    <div class="row">
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"
            ><img src="/images/enfant2.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"
            ><img src="/images/enfant1.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"
            ><img src="/images/enfant3.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"
            ><img src="/images/enfant1.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"
            ><img src="/images/enfant2.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"
            ><img src="/images/enfant3.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"
            ><img src="/images/enfant2.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"
            ><img src="/images/enfant3.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
