<div id="page-panier">
  <div class="row panier-content">
    <div class="panier-details col-md-12 col-lg-8">
      <div class="title">
        <h1>Panier</h1>
      </div>
      <hr />
      <div class="comment">
        <span>Il n'y a plus d'articles dans votre panier</span>
        <a href="#"
          ><span class="icon"><i class="fa-solid fa-chevron-left"></i></span
          ><span class="link">Contineur mes achats</span></a
        >
      </div>
    </div>
    <div class="panier-price col-md-12 col-lg-4">
      <div class="frais">
        <div class="item">
          <span class="title">0 articles</span>
          <span class="price">0,00 €</span>
        </div>
        <div class="item">
          <span class="title">Frais de dossier</span>
          <span class="price">15,00 €</span>
        </div>
      </div>
      <hr />
      <div class="item total">
        <span>TTC</span>
        <span>15,00 €</span>
      </div>
      <div class="button">
        <button>Finaliser le Devis</button>
      </div>
    </div>
  </div>

  <div class="products">
    <div class="title"><h2>PRODUITS POPULAIRES</h2></div>
    <div class="row">
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"><img src="/images/enfant2.jpg" alt="" /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"><img src="/images/enfant1.jpg" alt="" /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"><img src="/images/enfant3.jpg" alt="" /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"><img src="/images/enfant1.jpg" alt="" /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"><img src="/images/enfant2.jpg" alt="" /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"><img src="/images/enfant3.jpg" alt="" /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"><img src="/images/enfant2.jpg" alt="" /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
      <div class="item col-sm-6 col-md-4 col-xl-3">
        <div class="image">
          <a href="#"><img src="/images/enfant3.jpg" alt="" /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span>GV1B - Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
