<div id="page-panier">
  <div class="row panier-content">
    <div class="panier-details">
      <div>
        <h1>Panier</h1>
      </div>
      <hr />
      <div>
        <span>Il n'y a plus d'articles dans votre panier</span>
      </div>
      <a href="#"><span></span>Contineur mes achats</a>
    </div>
    <div class="panier-price">
      <div class="frais">
        <div class="item">
          <span class="title">0 articles</span>
          <span class="price">0,00 €</span>
        </div>
        <div class="item">
          <span class="title">Frais de dossier</span>
          <span class="price">15,00 €</span>
        </div>
      </div>
      <hr />
      <div class="item">
        <span>TTC</span>
        <span>15,00 €</span>
      </div>
      <div>
        <button>Finaliser le Devis</button>
      </div>
    </div>
  </div>

  <div class="products">
    <h2>PRODUITS POPULAIRES</h2>
    <div class="row">
      <div class="item">
        <div class="image">
          <a href="#"><img src="/images/enfant2.jpg" alt="" /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#">GV1B - <span>Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
       <div class="item">
        <div class="image">
          <a href="#"><img src="/images/enfant2.jpg" alt="" /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#">GV1B - <span>Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
       <div class="item">
        <div class="image">
          <a href="#"><img src="/images/enfant2.jpg" alt="" /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#">GV1B - <span>Veste Queue De Pie Dorée</span></a>
          </p>
          <p class="ref">Ref: GV1B</p>
          <div>
            <p class="price">8,00 €</p>
            <p class="bar">|</p>
            <p class="price btn">Ajouter</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
