#alert {
    padding: 7%;

    .breadcrumb-item {
        a {
            text-decoration: none;
            color: $color-black;
        }

        @include breakpoint(mobil) {
            display: none;
        }

    }

    .link-div {
        gap: 2%;
        padding: 1%;

        @include breakpoint(mobil) {
            padding: 3% 1%;
        }

        a {
            text-decoration: none;
            color: $color-primary;
        }
    }
}