#page-connexion {
    .formulaire-connexion {
        .text-connexion {
            margin-left: 15%;
            margin-top: 7%;
            p>span {
                color: $color-secondary
            }
        }
        .form {
            text-align: center;
            width: 50%;
            height: max-content;
            margin: auto;
            border: 1px solid $color-primary;
            .form-outline {
                width: 60%;
                margin: auto;
                display: flex;
                input {
                    border: 1px solid $color-primary;
                    border-radius: 0px;
                }
                label {
                    span {
                        color: red;
                    }
                }
                label,
                input {
                    margin: 5px;
                }
            }
            .motdepasse,
            .newCompte {
                p {
                    color: $color-primary;
                }
            }
            .btn {
                button {
                    background-color: $color-primary;
                    border: none;
                    border-radius: 0px;
                    width: 150px;
                }
            }
            .bordure {
                hr {
                    width: 95%;
                    margin: auto;
                }
            }
            .form-content {
                padding-top: 20px;
            }
        }
    }
}