#page-connexion {
    .formulaire-connexion {
        margin-left: 10%;
        .text-connexion {
            margin-left: 10%;
            margin-top: 5%;
            p>span {
                color: $color-secondary
            }
        }
        .form-parent {
            border: 1px solid $color-primary;
            width: 50%;
            margin-left: 10%;
            margin-bottom: 3%;
            padding: 20px;
            text-align: center;
            .formulaire {
                text-align: center;
                .bloc-mail {
                    .input-field {
                        input {
                            border: 1px solid $color-primary;
                            padding: 10px;
                            width: 350px;
                        }
                        .required {
                            color: red;
                        }
                    }
                }
                .bloc-password {
                    margin-left: -50px;
                    .input-field {
                        input {
                            border: 1px solid $color-primary;
                            padding: 10px;
                            width: 270px;
                        }
                        .required {
                            color: red;
                        }
                        .showPassword {
                            color: $color-white;
                            background-color: $color-secondary;
                            border-radius: 0px;
                            padding: 10px;
                            margin-left: -5px;
                        }
                    }
                }
                .forgot {
                    a {
                        text-decoration: none;
                        color: $color-primary;
                    }
                }
                .btn-connexion {
                    color: $color-white;
                    background-color: $color-primary;
                    border-radius: 0px;
                    padding: 7px;
                    width: 20%;
                    font-size: 18px;
                    text-align: center;
                }
                .btn-connexion:hover {
                    background-color: #6699CC;
                }
                hr {
                    width: 95%;
                    margin: auto;
                }
                .newCompte {
                    color: $color-primary;
                    a {
                        color: $color-primary;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}