#page-devis {
  width: 95%;
  margin: auto;

  .logo-dates {
    display: flex;
    justify-content: space-between;

    .bordure {
      border: 1px solid green;
    }
  }

  .adresses {
    display: flex;
    margin-top: 50px;
    ul {
      list-style: none;
    }
    .facturation {
      margin-left: 30%;
    }
  }

  .table-detail {
    text-align: center;
    // th {
    //   background-color: rgb(241, 239, 239);
    // }
  }
  .tables {
    display: flex;
    justify-content: space-between;
    .taxe-detail1 {
      width: 45%;
      text-align: center;
      border: 1px solid rgb(212, 210, 210);
      margin-bottom: 20px;
      // th {
      //   background-color: rgb(241, 239, 239);
      // }
    }
    .taxe-detail2 {
      width: 45%;
      text-align: center;

      // #title {
      //   background-color: rgb(241, 239, 239);
      // }

      .table-borderless {
        border: 1px solid rgb(212, 210, 210);
      }
    }
  }

  .modeLivraison {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 35px 10px 35px;

    .titreLivraison {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding-bottom: 10px;
      .icone_livraison {
        font-size: 20px;
        @include breakpoint(mobil) {
          font-size: 16px;
        }
      }
      h6 {
        font-weight: 700;
        font-size: 22px;
        @include breakpoint(mobil) {
          font-size: 13px;
        }
      }
    }
    h5 {
      font-weight: 700;
      font-size: 17px;
      span {
        font-weight: 200;
      }
      @include breakpoint(mobil) {
        font-size: 13px;
      }
    }

    .text-detail2 {
      border: 1px solid rgb(212, 210, 210);
      padding: 15px;
    }
  }

  .repetition_spectable {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding: 30px 35px 0 35px;
    @include breakpoint(mobil) {
      padding: 30px 20px 0 20px;
    }
    .spectacle,
    .repetition {
      width: 45%;
      display: flex;
      flex-direction: column;
      .titre {
        width: 100%;
        display: flex;
        flex-direction: row;
        h6 {
          font-weight: 700;
          font-size: 22px;
          @include breakpoint(mobil) {
            font-size: 13px;
          }
        }
      }
      hr {
        opacity: 0.4;
      }
      .body {
        display: flex;
        flex-direction: column;

        h6 {
          font-weight: 600;
          font-size: 15px;
          @include breakpoint(mobil) {
            font-size: 13px;
          }
          span {
            font-weight: 400;
          }
        }
      }
    }
  }
}
