#edit-adresse {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10% 0 5% 0;

    @include breakpoint(mobil) {
        padding: 1%;
        width: 95%;
    }

    .breadcrumb-item {
        a{
            text-decoration: none;
            color: $color-black;
        }

        @include breakpoint(mobil) {
            display: none;
        }
    }

    form {
        padding: 2% 1% 5% 1%;
        border: 0.3px solid $color-primary;

        @include breakpoint(mobil) {
            padding: 3% 3% 15% 3%;
        }

        .row-form {
            display: flex;
            flex-direction: row;
            gap: 5%;
            margin: 2% 0;

            @include breakpoint(mobil) {
                flex-direction: column;
                margin: 4% 0;
            }

            input {
                border: 0.3px solid $color-primary;
                padding: 0.5% 1%;
            }

            .col-label {
                width: 20%;
                text-align: end;

                @include breakpoint(mobil) {
                    text-align: start;
                    width: 100%;
                }
            }

            .col-input {
                width: 50%;
                display: flex;
                flex-direction: column;

                @include breakpoint(mobil) {
                    width: 100%;
                }
            }
            .col-label-end{
                text-align: start;
                color: $color-secondary;
            }


        }

        .btn-submit {
            float: right;

            button {
                background-color: $color-primary;
                color: $color-white;
            }
        }

    }

    .link-div {
        gap: 2%;
        padding: 1%;

        @include breakpoint(mobil) {
            padding: 3% 1%;
        }

        a {
            text-decoration: none;
            color: $color-primary;
        }
    }

    label {
        span {
            color: red;
        }
    }

    .form-check-label {
        color: $color-primary;

        .checkbox-label {
            background-color: $color-primary;
        }
    }
   
}