#page-panier {
  padding: 8% 9%;
  font-family: $typograohie;
  .panier-content {
    margin-bottom: 60px;
  }
  .panier-details {
    .title,
    .comment {
      padding-left: 15px;
      margin-bottom: 20px;
    }
    h1 {
      font-size: 22px;
      text-transform: uppercase;
      font-weight: 500;
    }

    .comment {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-top: 15px;
      span {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
      }

      .link {
        font-size: 14px;
        color: $color-primary;
      }
      a {
        text-decoration: none;
      }
      a .icon {
        margin-right: 10px;
        font-size: 12px;
        color: $color-primary;
      }

      .articles {
        .id {
          font-size: 14px;
          @include breakpoint(mobil) {
            text-align: center;
            margin-bottom: 5px;
          }
         
        }

        .image {
          @include breakpoint(mobil) {
            text-align: center;
            margin-bottom: 5px;
          }
        }
        .description {
          @include breakpoint(mobil) {
            text-align: center;
            margin-bottom: 5px;
          }
          .desc {
            font-size: 14px;
            a {
              color: $color-primary;
            }

            a span {
              font-size: 13px;
            }
          }
          p {
            font-weight: 600;
            color: $color-primary;
          }
        }

        .prices {
          @include breakpoint(mobil) {
            width: 80%;
            margin: 0 auto;
          }
          @include breakpoint(tablette) {
            margin-top: 20px;
            // width: 100%;
          }
          .block-price {
            @include breakpoint(mobil) {
                flex: 3;
                padding-left: 15px;
              }
              @include breakpoint(tablette) {
                flex: 2;
                justify-content: flex-start;
              }
            .compteur {
              @include breakpoint(tablette) {
                display: flex;
              }
              .qty-btn {
                display: flex;
                justify-content: center;
                @include breakpoint(mobil) {
                  flex:3;
                  justify-content: flex-end;
                }
                @include breakpoint(tablette) {
                  flex:5;
                  justify-content: flex-end;
                }
                input {
                  border: none;
                  outline: none;
                  max-width: 50px;
                  height: 40px;
                  padding: 0px 10px;
                  border: 1px solid $color-secondary;
                }

                .btns {
                  display: flex;
                  flex-direction: column;

                  button {
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    background-color: white;
                    border: 1px solid $color-primary;
                    span {
                      font-size: 10px;
                      color: $color-primary;
                    }
                  }
                }
              }

              .prx {
                padding-top: 5px;
                @include breakpoint(mobil) {
                  flex:1;
                  justify-content: flex-start;
                  text-align: center;
                }
                
                span {
                  font-weight: 600;
                  color: $color-primary;
                }
              }
            }
          }
          .delete {
            @include breakpoint(mobil) {
                flex: 1;
                align-self: flex-start;
              }
            margin-top: 5px;

            span {
              color: $color-primary;
            }
          }
        }
      }
    }
  }

  .panier-price {
    .frais {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @include breakpoint(tablette) {
        padding-left: 12px;
      }
      .item {
        display: flex;
        justify-content: space-between;
      }
      .item .title {
        font-size: 16px;
        font-weight: 400;
      }

      .item .price {
        font-weight: 600;
      }
    }
    .total {
      margin-bottom: 20px;
    }
    .item {
      display: flex;
      justify-content: space-between;
      span {
        font-weight: 600;
      }
    }

    .promo {
      .link {
        margin-bottom: 30px;
        text-align: center;
        p {
          color: $color-primary;
        }

        .btnpromo {
          cursor: pointer;
        }

        .linkhide {
          transform: translateX(-100px);
          display: none;
          transition: all 0.5s ease;
        }
      }

      .hide-promo {
        display: none !important;
      }
      .show-promo {
        display: flex;
      }

      .code-promo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .btn-promo {
          width: 80%;
          margin: 0 auto;
          display: flex;
          margin-bottom: 20px;
          input {
            width: 100%;
            border: 1px solid $color-secondary;
            padding: 5px 20px;
            outline: none;
          }
          button {
            // width: 30%;
            border: none;
            background: $color-primary;
            color: white;
            padding: 0 20px;
          }
        }

        .fermer {
          color: $color-primary;
          cursor: pointer;
        }
      }
    }
  }

  .button {
    button {
      width: 100%;
      border: none;
      padding: 8px;
      background: $color-primary;
      color: white;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .products {
    .title {
      text-align: center;
      margin-bottom: 40px;
      h2 {
        font-size: 20px;
      }
    }

    .row {
      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
      }

      .image {
        width: 90%;
        height: auto;
        padding-bottom: 10px;
        @include breakpoint(tablette) {
          text-align: center;
        }
        img {
          width: 90%;
          height: auto;
        }
      }
      .details {
        text-align: center;
        margin: 15px 0px;

        p {
          margin: 0;

          span {
            font-size: 12px;
          }

          a {
            text-decoration: none;
            color: $color-black;
          }
        }

        .ref {
          color: $color-secondary;
          font-weight: 100;
        }

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;

          .price {
            font-weight: 600;
          }

          .btn {
            padding: 0;
            &:hover {
              color: $color-secondary;
            }
          }

          .bar {
            color: $color-primary;
          }
        }
      }
    }
  }
}
