<div id="admin-page-viewDevis">
    <div id="admin-blocs-panierHeader" class="border-bottom">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a class="fil-ariane-item" href="/admin/devis">Commandes</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <a href="#" class="link-panier">N° <%= commande.com_id %></a>
            </li>
          </ol>
        </nav>
        <div class="produit-menu">
          <h1>Devis N° <%= commande.com_id %> de <%= commande.Client.Titre.tit_libelle %> <%= commande.Client.cli_nom %></h1>
          <div class="produit-menu-btn">
            <button type="button" class="btn btn-outline-secondary">Aide</button>
          </div>
        </div>
    </div>
    <div class="actions">
        <select class="form-select" aria-label="Default select example">
            <option selected>Finalisation du dévis</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <button type="button" class="btn btn-secondary shadow">Mettre à jour l'état</button>
        <button type="button" class="btn     shadow"><i class="fa-solid fa-print"></i> Imprimer le dévis</button>
        <button type="button" class="btn btn-light shadow"><i class="fa-solid fa-envelope"></i> Envoyer le dévis</button>
        <button type="button" class="btn btn-light shadow"><i class="fa-solid fa-print"></i> Imprimer le bon d'essayage</button>
        <button type="button" class="btn btn-light shadow"><i class="fa-solid fa-envelope"></i>Envoyer le bon d'essayage</button>
    </div>
    <div class="content">
        <div class="left">
            <div class="card shadow bloc-client">
                <h3 class="bloc-client-title">Client</h3>
                <div class="bloc-client-name">
                    <p><i class="fa-solid fa-id-card"></i> <span>M Eric Guermah</span></p>
                    <a href="">Plus de details</a>
                </div>
                <div class="row bloc-client-info">
                    <div class="col-md-12">
                        <div>
                            <h2>E-mail :</h2>
                            <p>eric.guermah@gmail.com</p>
                        </div>
                        <div>
                            <h2>Compte créé :</h2>
                            <p>eric.guermah@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div>
                            <h2>Commande validées :</h2>
                            <p>0</p>
                        </div>
                        <div>
                            <h2>Total dépensé depuis inscription :</h2>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="row bloc-client-adresse">
                    <div class="col-md-5 adresse-item">
                        <div>
                            <h2>
                                <span>Adresse de livraison</span>
                                <div class="dropdown">
                                    <i
                                    class="fa-solid dropdown-toggle fa-ellipsis-vertical"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                    id="dropdownadress-1"
                                  ></i>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownadress-1">
                                      <li><a class="dropdown-item" href="#">Modifier une adresse existante</a></li>
                                      <li><a class="dropdown-item" href="#">Sélectionner une autre adresse</a></li>
                                    </ul>
                                </div>
                            </h2>
                            <p>Eric Guermah</p>
                            <p>5, rue des agaces</p>
                        </div>
                    </div>
                    <div class="col-md-5 offset-2 adresse-item">
                        <div>
                            <h2>
                                <span>Adresse de facturation</span>
                                <div class="dropdown">
                                    <i
                                    class="fa-solid dropdown-toggle fa-ellipsis-vertical"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                    id="dropdownadress-2"
                                  ></i>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownadress-2">
                                      <li><a class="dropdown-item" href="#">Modifier une adresse existante</a></li>
                                      <li><a class="dropdown-item" href="#">Sélectionner une autre adresse</a></li>
                                    </ul>
                                </div>
                            </h2>
                            <p>Eric Guermah</p>
                            <p>5, rue des agaces</p>
                        </div>
                    </div>
                </div>
                <div class="bloc-client-commentaire">
                    <h2>Commentaire privé</h2>
                    <p><i class="fa-solid fa-plus"></i></p>
                </div>
            </div>
            <div class="card shadow bloc-adresse">
                <h2 class="bloc-adresse-title">Dates (5)</h2>
                <div class="bloc-adresse-content">
                    <div class="bloc-adresse-content-spectacle">
                        <h2>Date de spectacle</h2>
                        <div class="date-spectacle-debut">27/01/2023</div>
                        <div class="date-spectacle-fin">28/01/2023</div>
                    </div>
                    <div class="bloc-adresse-content-repetition">
                        <h2>
                            <span>Date de répétition</span>
                            <span><i class="fa-solid fa-plus"></i></span>
                        </h2>
                        <div class="date-repetition-item">
                            <span>27/01/2023</span>
                            <span class="date-repetition-item-trash"><i class="fa-solid fa-trash"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="card shadow produit-list">
                <h2 class="produit-list-title">Produit (8)</h2>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Produit</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Prix unitaire</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Disponible</th>
                        <th scope="col">Remise</th>
                        <th scope="col">Total</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                      </tr>
                    </tbody>
                </table>
                <div class="table-actions">
                    <div class="item-par-page">
                        <p>Elements par page : </p>
                        <div class="input-group">
                            <input type="number" class="form-control" value="50">
                        </div>
                    </div>
                    <div class="buttons">
                        <button type="button" class="btn btn-light"><i class="fa-solid fa-plus"></i>Ajouter un produit</button>
                        <button type="button" class="btn btn-light"><i class="fa-solid fa-plus"></i>Ajouter une reduction</button>
                    </div>
                </div>
                <div class="table-resume">
                    <div>
                        <h2>Produits</h2>
                    </div>
                    <div>
                        <h2>Réductions</h2>
                    </div>
                    <div>
                        <h2>Livraison</h2>
                    </div>
                    <div>
                        <h2>Autres Frais</h2>
                    </div>
                    <div>
                        <h2>Taxes</h2>
                    </div>
                    <div>
                        <h2>Total</h2>
                    </div>
                </div>
            </div>
            <div class="devis-note">
                <h2>Note de devis</h2>
                <form action="">
                    <div class="mb-3">
                        <textarea class="simplemde" id="devis-note-textarea" cols="30" rows="5"></textarea>
                    </div>
                    <div class="devis-note-form-action">
                        <p>Afficher cette note de commande sur la facture <input type="checkbox" name="" id=""></p>
                        <button class="btn btn-light">Sauver</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/admin/devis.view.js"></script>