<div id="page-mensionLegale">
    <div class="title">
        <div class="little-ttre">
            <span>Accueil</span>
            <span> | </span>
            <span class="mension">Mentions légales</span>
        </div>
        <div class="big-titre">
            <h5>Mentions légales</h5>
        </div>
    </div>
    <div class="content">
        <p>Loi informatique et libertés : </p>
        <p>Conformément à l'article 39 de la loi "Informatique et Libertés" du 6 janvier 1978, l'utilisateur dispose d'un droit d'accès, de modification, de rectification et de suppression des données le concernant. Pour l'exercice de ces droits, l'utilisateur
            est invité à s'adresser par courriel à contact@locationcostumesdedanse.com. Il peut aussi écrire au Responsable de publication. Responsable de publication :</p>
        <p><strong>AIGUILLES EN SCENE</strong></p>
        <p>M. GUERMAH DELPHINE</p>
        <p>5 rue des agaces,</p>
        <p>35650 le rheu</p>
        <p>Siret : 51840524600019</p>
        <p>Déclaration à la CNIL</p>
        <p>Déclaration à la CNIL En application de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, le site https://locationcostumesdedanse.com est enregistré à la Commission Nationale de l'Informatique et des Libertés
            (CNIL) selon la déclaration simplifiée n°48 sous la demande d'avis 2177782 v 0. Pour plus d'information, visiter le site Internet de la CNIL à ce sujet : www.cnil.fr L'utilisateur peut également, pour des motifs légitimes, s'opposer au traitement
            des données le concernant. L'utilisateur trouvera des informations sur ses droits et devoirs et sur la protection des données individuelles sur le site de la "Commission Nationale Informatique et Libertés". Les utilisateurs du site Internet
            https://locationcostumesdedanse.com sont invités à faire connaître à M. GUERMAH DELPHINE leurs remarques sur d'éventuels dysfonctionnements du site, au regard des libertés individuelles, à l'une ou l'autre des adresses indiquées ci-avan</p>

        <p>Propriété du site :</p>
        <p>Toute reproduction intégrale ou partielle, par quelque procédé que ce soit, faite sans le consentement préalable et écrit est illicite et constitue une contrefaçon donnant lieu à des sanctions pénales. En accédant au présent site, vous reconnaissez
            que les données le composant sont légalement protégées et, conformément aux dispositions de la loi du 1er juillet 1998, vous vous interdisez notamment d'extraire, réutiliser, stocker, reproduire, représenter ou conserver, directement ou indirectement,
            sur un support quelconque, par tout moyen et sous toute forme que ce soit, tout ou partie qualitativement ou quantitativement substantielle du site auquel vous accédez ainsi que d'en faire l'extraction ou la réutilisation répétée et systématique
            de parties qualitativement et quantitativement non substantielles lorsque ces opérations excèdent manifestement les conditions d'utilisation normales. </p>
        <p>Création du site internet :</p>
        <p>CristalID - Agence Web</p>
        <p>Haute Borne</p>
        <p>50 rue Horace50 rue Horace</p>
        <p>59493 Villeneuve d'Ascq - France</p>
        <p>Tél. : 03 20 26 73 66</p>
        <p>Siret : 512 803 552 00078</p>
        <p>http://www.cristalid.fr</p>
        <p>Email : contact@cristalid.com</p>
        <p>Hébergement :</p>
        <p>SAS NEXYLAN</p>
        <p>SAS NEXYLAN</p>
        <p>RCS Lille Métropole-51788472200037</p>
        <p>Code APE 6311Z N° TVA : FR37517884722</p>
        <p>Siège social :274 ter Av. de la Marne, 59700 Marcq-en-Baroeul - France.locationcostumesdedanse.com</p>
    </div>
</div>