<div id="page-mensionLegale">
  <div class="title">
    <div class="little-ttre pb-3">
      <span>Accueil</span>
      <span> | </span>
      <span class="mension">Mentions légales</span>
    </div>
    <div class="big-titre">
      <h4>MENTIONS LÉGALES</h4>
    </div>
  </div>
  <div class="content">
    <h5 class="fw-bolder">LOI INFORMATIQUE ET LIBERTÉS</h5>
    <p>
      Conformément à l'article 39 de la loi "Informatique et Libertés" du 6
      janvier 1978, l'utilisateur dispose d'un droit d'accès, de modification,
      de rectification et de suppression des données le concernant.
    </p>
    <p>
      Pour l'exercice de ces droits, l'utilisateur est invité à s'adresser par
      courriel à <a href="mailto:contact@locationcostumesdedanse.com">contact@locationcostumesdedanse.com</a> Il peut aussi écrire au
      Responsable de publication.
    </p>
    <h5 class="pt-3 fw-bolder"> RESPONSABLE DE PUBLICATION</h5>
    <p><strong>AIGUILLES EN SCENE</strong></p>
    <p><strong> M. GUERMAH DELPHINE</strong></p>
    <p>5 rue des agaces,</p>
    <p>35650 le rheu</p>
    <p>SIRET : 51840524600019</p>
    <h5 class="pt-3 fw-bolder"> DÉCLARATION À LA CNIL</h5>
    <p>
      En application de la loi n°78-17 du 6 janvier 1978 relative à
      l'informatique, aux fichiers et aux libertés, le site
      https://www.aiguillesenscene.com est enregistré à la Commission Nationale
      de l'Informatique et des Libertés (CNIL) selon la déclaration simplifiée
      n°48 sous la demande d'avis 2177782 v 0.
    </p>
    <p class="pt-3">
      Pour plus d'information, visiter le site Internet de la CNIL à ce sujet :
      <a href="http://www.cnil.fr.">www.cnil.fr.</a>
    </p>
    <p class="pt-3">
      L'utilisateur peut également, pour des motifs légitimes, s'opposer au
      traitement des données le concernant.
    </p>
    <p class="pt-3">
      L'utilisateur trouvera des informations sur ses droits et devoirs et sur
      la protection des données individuelles sur le site de la "Commission
      Nationale Informatique et Libertés".
    </p>
    <p class="pt-3">
      Les utilisateurs du site Internet https://www.aiguillesenscene.com sont
      invités à faire connaître à <strong> Mme GUERMAH DELPHINE</strong> leurs
      remarques sur d'éventuels dysfonctionnements du site, au regard des
      libertés individuelles, à l'une ou l'autre des adresses indiquées
      ci-avant.
    </p>
    <h5 class="fw-bolder pt-3">PROPRIÉTÉ DU SITE</h5>
    <p class="pt-3">
      Toute reproduction intégrale ou partielle, par quelque procédé que ce
      soit, faite sans le consentement préalable et écrit est illicite et
      constitue une contrefaçon donnant lieu à des sanctions pénales.
    </p>
    <p class="pt-3">
      En accédant au présent site, vous reconnaissez que les données le
      composant sont légalement protégées et, conformément aux dispositions de
      la loi du 1er juillet 1998, vous vous interdisez notamment d'extraire,
      réutiliser, stocker, reproduire, représenter ou conserver, directement ou
      indirectement, sur un support quelconque, par tout moyen et sous toute
      forme que ce soit, tout ou partie qualitativement ou quantitativement
      substantielle du site auquel vous accédez ainsi que d'en faire
      l'extraction ou la réutilisation répétée et systématique de parties
      qualitativement et quantitativement non substantielles lorsque ces
      opérations excèdent manifestement les conditions d'utilisation normales.
    </p>
    <h5 class="pt-3 fw-bolder">CRÉATION DU SITE INTERNET & HÉBERGEMENT</h5>
    <h6 class="pt-1 fw-bolder">World Corp Group RDC SAS</h6>
    <p>44 avenue du livre</p>
    <p>Commune de la Gombe</p>
    <p>Ville de Kinshasa - RDC</p>
    <p>50 rue Horace</p>
    <p>59493 Villeneuve d'Ascq - France</p>
    <p>Tél. : + 243 853 709 776 / +33 640 776 501</p>
    <p>RCCM : CD/KNG/RCCM/17-B-00558</p>
    <a href="http://www.wcg-rdc.com">http://www.wcg-rdc.com</a>
    <p><a href="mailto:contact@ wcg-rdc.com">Email : contact@ wcg-rdc.com</a></p>
  </div>
</div>
