<div id="adresse">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/" class="breadcrumb-link">Accueil</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="/mon-compte" class="breadcrumb-link">Votre compte</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Nouvelle adresse
      </li>
    </ol>
  </nav>
  <h4>Nouvelle adresse</h4>
  <form action="" class="fom">
    <div class="row-form">
      <label class="col-label" for=""> Nom de la structure</label>
      <input class="col-input" placeholder="" type="text" name="" id="" />
      <label class="col-label-end" for="">Optionnel</label>
    </div>
    <div class="row-form">
      <label class="col-label" for=""><span>* </span> Nom</label>
      <input class="col-input" placeholder="Romain" type="text" name="" id="" />
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span>Prenom</label>
      <input class="col-input" placeholder="Romain" type="text" name="" id="" />
    </div>
    <div class="row-form">
      <label class="col-label" for=""> Société</label>
      <input class="col-input" placeholder="" type="text" name="" id="" />
      <label class="col-label-end" for="">Optionnel</label>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> Numéro de TVA</label>
      <input class="col-input" placeholder="" type="text" name="" id="" />
      <label class="col-label-end" for="">Optionnel</label>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span>Adresse</label>
      <input class="col-input" placeholder="" type="text" name="" id="" />
    </div>
    <div class="row-form">
      <label class="col-label" for=""> Complément d'adresse</label>
      <input class="col-input" placeholder="" type="text" name="" id="" />
      <label class="col-label-end" for="">Optionnel</label>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span>Code penal</label>
      <input class="col-input" placeholder="" type="text" name="" id="" />
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span>Ville</label>
      <input class="col-input" placeholder="" type="text" name="" id="" />
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span>Pays</label>
      <input class="col-input" placeholder="" type="text" name="" id="" />
    </div>

    <div class="btn-submit">
      <button class="btn" type="submit">Enregistrer</button>
    </div>
  </form>
  <div class="link-div d-flex flex-row">
    <div>
      <a href="http://"
        ><i class="fa-solid fa-chevron-left"></i> Retour à votre compte
      </a>
    </div>
    <div>
      <a href="/"><i class="fa-solid fa-house"></i> Accueil</a>
    </div>
  </div>
</div>
