<div class="adresse">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/" class="breadcrumb-link">Accueil</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="/mon-compte" class="breadcrumb-link">Votre compte</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="/mon-compte/adresse" class="breadcrumb-link">Adresses</a>
      </li>
    </ol>
  </nav>
  <h5>Adresses</h5>
  <div class="adresse-main-content">
    <div class="adresse-item">
      <h6>Nom Structure</h6>
      <p>Nom Prénom</p>
      <p>Nom entreprise</p>
      <p>Ville</p>
      <p>Pays</p>
      <p>Téléphone</p>
      <hr>
      <div>
        <p>Mettre à jour</p>
        <p>Supprimer</p>
      </div>
    </div>
  </div>
</div>
