<div id="donnee">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a href="/" class="breadcrumb-link">Accueil</a></li>
      <li class="breadcrumb-item" aria-current="page"> <a href="/mon-compte/#page-mon-compte" class="breadcrumb-link">Votre compte</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        My personnals datas
      </li>
    </ol>
  </nav>
  <h4>GDPR - Personal data</h4>
  <div class="donnee-main-content">
    <div class="donnee-content1">
      <h4>Access to my data</h4>
      <p>
        At any time, you have the right to recover the data you have
        provided on our site. Click "Export my data" to
        automatically download a copy of your personal data into
        a pdf or csv file.
      </p>
      <div class="button-container">
        <form action="/mon-compte/myinfo" method="post">
          <button>EXPORT MY DATA TO PDF</button>
        </form>
        <!-- <button>EXPORTER MES DONNEES EN CVS</button> -->
      </div>
    </div>
    <div class="donnee-content2">
      <h4>Request for rectification and erasure</h4>
      <p>
        You have the right to modify all personal information
        listed on the “My Account” page. For any other request that you
        you may have regarding the rectification and/or erasure of your
        personal data, please contact us via our 
        <a href="/contact/#page-contact">contact form..</a> We will review your request and
        will respond to you as soon as possible.
      </p>
    </div>
  </div>
  <div class="link-div d-flex flex-row">
    <div>
      <a href="/mon-compte/#page-mon-compte"
        ><i class="fa-solid fa-chevron-left"></i> Back to your account
      </a>
    </div>
    <div>
      <a href="/"><i class="fa-solid fa-house"></i> Home</a>
    </div>
  </div>
</div>
