<div id="donnee">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a href="/" class="breadcrumb-link">Accueil</a></li>
      <li class="breadcrumb-item" aria-current="page"> <a href="/mon-compte/#page-mon-compte" class="breadcrumb-link">Votre compte</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        Mes données personnelles
      </li>
    </ol>
  </nav>
  <h4>GDPR - Personal data</h4>
  <div class="donnee-main-content">
    <div class="donnee-content1">
      <h4>Accès à mes données</h4>
      <p>
        A tout moment, vous avez le droit de récupérer les données que vous avez
        fournies sur notre site. Cliquez sur "Exporter mes données" pour
        télécharger automatiquement une copie de vos données personnelles dans
        un fichier pdf ou csv.
      </p>
      <div class="button-container">
        <form action="/mon-compte/myinfo" method="post">
          <button>EXPORTER MES DONNEES EN PDF</button>
        </form>
        <!-- <button>EXPORTER MES DONNEES EN CVS</button> -->
      </div>
    </div>
    <div class="donnee-content2">
      <h4>Demande de rectification et d'effacement</h4>
      <p>
        Vous avez le droit de modifier toutes les informations personnelles
        figurant sur la page "Mon compte". Pour toute autre demande que vous
        pourriez avoir concernant la rectification et/ou l'effacement de vos
        données personnelles, veuillez nous contacter via notre
        <a href="/contact/#page-contact">formulaire de contact..</a> Nous examinerons votre demande et
        vous répondrons dans les plus brefs délais.
      </p>
    </div>
  </div>
  <div class="link-div d-flex flex-row">
    <div>
      <a href="/mon-compte/#page-mon-compte"
        ><i class="fa-solid fa-chevron-left"></i> Retour à votre compte
      </a>
    </div>
    <div>
      <a href="/"><i class="fa-solid fa-house"></i> Accueil</a>
    </div>
  </div>
</div>
