<div id="page-historique" class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Accueil</a></li>
              <li class="breadcrumb-item"><a href="/mon-compte/#page-mon-compte">Mon compte</a></li>
              <li class="breadcrumb-item active" aria-current="page">Historique</li>
            </ol>
        </nav>
    </div>
    <h2>Historique de vos commandes</h2>

    <% if (error === true) { %>
    <div class="row">
        <div class="msg-error">
            <div class="alert alert-danger" role="alert">
                Vous n'avez pas encore passé de commande
              </div>
            <h6>Vous trouverez ici vos commandes passées depuis la création de votre compte</h6>
        </div>
    </div>
    <% } else { %>
    <div class="row row-list">
        <div class="msg">
            <h6>Vous trouverez ici vos commandes passées depuis la création de votre compte</h6>

            <div class="commande-liste">
                <% commandeByUser && commandeByUser.forEach(function(commande) { %>
                <table class="table table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Reference de commande</th>
                          <th scope="col">Date</th>
                          <th scope="col">Prix total</th>
                          <th scope="col">Finalisation</th>
                          <th scope="col">Etat</th>
                          <th scope="col">Facture</th>
                          <th scope="col"></th>
                        </tr>
                      </thead> 
                      <tbody> 
                        <tr>
                            <td><%= commande.com_num %></td>
                            <td><%= commande. com_date %></td>
                            <td><%= commande.com_ttc %></td>
                            <td>date database</td>
                          <td><p class="bg-warning text-center color-white">Finalisation du devis</p></td>
                          <td>date database</td>
                          <td class="button"><a href="">Détails Commander à nouveau</a></td>
                        </tr>
                        </tbody>
                  </table>
                  <% }); %>
                  
            </div>
        </div>
    </div>
    <% } %>
</div>