<div id="page-historique" class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Accuei</a></li>
              <li class="breadcrumb-item"><a href="/mon-compte">Mon compte</a></li>
              <li class="breadcrumb-item active" aria-current="page">Historique</li>
            </ol>
        </nav>
    </div>
    <h2>Historique de vos commandes</h2>
    <div class="row">
        <div class="msg-error">
            <div class="alert alert-danger" role="alert">
                Vous n'avez pas encore passé de commande
              </div>
            <h6>Vous trouverez ici vos commandes passées depuis la création de votre compte</h6>
        </div>
    </div>
</div>