<div id="page-mon-compte" class="container">
  <div>
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">My account</li>
        </ol>
      </nav>
    </div>
    <h2>Your Account</h2>
    <div class="menus">
        <a href="my-account/identite/#identite/" class="menus-item">
            <div class="icone">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="title">
                <h2>Informations</h2>
            </div>
        </a>
        <a href="/my-account/nouvelleAdresse/#nouvelle-adresse" class="menus-item">
            <div class="icone">
                <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="title">
                <h2>Add an adresse</h2>
            </div>
        </a>
        <a href="/my-account/historique/#page-historique" class="menus-item">
            <div class="icone"><i class="fa-solid fa-calendar-days"></i></div>
            <div class="title">
                <h2>
                    History and details of my orders</h2>
            </div>
        </a>
        <a href="/my-account/donnee/#donnee" class="menus-item">
            <div class="icone"><i class="fa-solid fa-user-shield"></i></div>
            <div class="title">
                <h2>My personnals datas</h2>
            </div>
        </a>
        <!-- <a href="my-account/alert/#alert" class="menus-item">
            <div class="icone"><i class="fa-regular fa-envelope"></i></div>
            <div class="title">
                <h2>Mes alertes</h2>
            </div>
        </a> -->
        <a href="/my-account/adresses/#adresses" class="menus-item">
            <div class="icone"><i class="fa-regular fa-address-book"></i></div>
            <div class="title">
                <h2>My adresses</h2>
            </div>
        </a>
    </div>
  </div>
</div>
