<div id="page-mon-compte" class="container">
  <div>
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Accueil</a></li>
          <li class="breadcrumb-item active" aria-current="page">Mon compte</li>
        </ol>
      </nav>
    </div>
    <h2>Votre Compte</h2>
    <div class="menus">
        <a href="/mon-compte/identite/#identite" class="menus-item">
            <div class="icone">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="title">
                <h2>Informations</h2>
            </div>
        </a>
        <a href="/mon-compte/nouvelleAdresse/#nouvelle-adresse" class="menus-item">
            <div class="icone">
                <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="title">
                <h2>Ajouter une première adresse</h2>
            </div>
        </a>
        <a href="/mon-compte/historique/#page-historique" class="menus-item">
            <div class="icone"><i class="fa-solid fa-calendar-days"></i></div>
            <div class="title">
                <h2>Historique et détails de mes commandes</h2>
            </div>
        </a>
        <a href="/mon-compte/avoirs/#page-avoir" class="menus-item">
           
            <div class="icone"><i class="fa-solid fa-money-bill-wave"></i></div>
            <div class="title">
                <h2>Avoir</h2>
        </div>
    </a>
        <!-- <div class="menus-item">
            <div class="icone"><i class="fa-solid fa-note-sticky"></i></div>
            <div class="title">
                <h2>Avoir</h2>
            </div>
        </div> -->
        <a href="/mon-compte/reduction/#page-reduction" class="menus-item">
           
                <div class="icone"><i class="fa-solid fa-money-bill-wave"></i></div>
                <div class="title">
                    <h2>Bons de réduction</h2>
            </div>
        </a>
        <a href="/mon-compte/donnee/#donnee" class="menus-item">
            <div class="icone"><i class="fa-solid fa-user-shield"></i></div>
            <div class="title">
                <h2>Mes données personnels</h2>
            </div>
        </a>
        <a href="/mon-compte/alert/#alert" class="menus-item">
            <div class="icone"><i class="fa-regular fa-envelope"></i></div>
            <div class="title">
                <h2>Mes alertes</h2>
            </div>
        </a>
    </div>
  </div>
</div>
