<div id="nouvelle-adresse">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/" class="breadcrumb-link">Accueil</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="/mon-compte/#page-mon-compte" class="breadcrumb-link">Votre compte</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="/mon-compte/adresses/#adresses" class="breadcrumb-link">Adresses</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Nouvelle adresse
      </li>
    </ol>
  </nav>
  <h4>Nouvelle adresse</h4>
  <form action="/mon-compte/nouvelleAdresse" class="fom" method="post">
    <% if (typeof error  !== 'undefined') { %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
    <% } %>
    <% if (typeof success  !== 'undefined') { %>
      <div class="alert alert alert-success" role="alert">
        <%= success %>
      </div>
    <% } %>
    <div class="p-5 pb-0 pt-3 d-flex gap-4">
      <p>Adresse pour : </p>
      <div class="d-flex gap-2">
        <label for="">Particulier</label>
        <input class="form-check-input" type="radio" value="" name="chechboxChoice" id="checkboxParticulier" checked>
      </div>
      <div class="d-flex gap-2">
        <label for="">Entreprise</label>
        <input class="form-check-input" type="radio" value="" name="chechboxChoice" id="checkboxEntreprise">
      </div>

    </div>
    <div class="row-form entrepriseChoice1 entrepriseChoice">
      <label class="col-label" for=""> <span>* </span> Nom de la structure</label>
      <input class="col-input" placeholder="" type="text" name="adr_structure" required/>
    </div>
    <div class="row-form">
      <label class="col-label" for=""><span>* </span> Nom</label>
      <input class="col-input" type="text" name="adr_nom" id="" required/>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span>Prenom</label>
      <input class="col-input" type="text" name="adr_prenom" id="" required/>
    </div>
    <div class="row-form entrepriseChoice1 entrepriseChoice">
      <label class="col-label" for="">  <span>* </span> Société</label>
      <input class="col-input" placeholder="" type="text" name="adr_societe" id="" required/>
    </div>
    <div class="row-form entrepriseChoice1 entrepriseChoice">
      <label class="col-label" for=""> Numéro de TVA</label>
      <input class="col-input" placeholder="" type="text" name="adr_num_tva" id="" />
      <label class="col-label-end" for="">Optionnel</label>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span>Adresse</label>
      <input class="col-input" placeholder="" type="text" name="adr_adresse" id="" required/>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> Téléphone</label>
      <input class="col-input" placeholder="" type="text" name="adr_phone" id=""/>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> Complément d'adresse</label>
      <input class="col-input" placeholder="" type="text" name="adr_comp" id="" />
      <label class="col-label-end" for="">Optionnel</label>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span>Code postal</label>
      <input class="col-input" placeholder="" type="text" name="adr_cp" id="" required  />
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span>Ville</label>
      <input class="col-input" placeholder="" type="text" name="adr_ville" id="" required/>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> Pays</label>
      <input class="col-input" placeholder="" type="text" name="adr_pays" id="" />
    </div>

    <div class="btn-submit">
      <button class="btn" type="submit">Enregistrer</button>
    </div>
  </form>
  <div class="link-div d-flex flex-row">
    <div>
      <a href="/mon-compte/#page-mon-compte"
        ><i class="fa-solid fa-chevron-left"></i> Retour à votre compte
      </a>
    </div>
    <div>
      <a href="/"><i class="fa-solid fa-house"></i> Accueil</a>
    </div>
  </div>
</div>
<script src="/javascripts/nouvelleAdresse.js"></script>
