<div id="page-connexion">
  <div class="title-recherche">
    <span><a href="/">Acceuil</a></span>
    <span>/</span>
    <span>Mot de passe oublié</span>
  </div>

  <div class="resultat">
    <p>Renseignez votre adresse mail</p>
  </div>

  <div class="content">
    <div class="register-form">
      <%if (typeof errorMsg !== 'undefined' || typeof successMsg !== 'undefined') { %>
      <div class="alert alert-<%= typeMsg %>" role="alert">
        <%= typeof errorMsg !== 'undefined' ? errorMsg : successMsg  %>
      </div>
      <% } %>
      <% if (typeof successMsg == 'undefined') { %>
      <form id="form" method="post" action="/connexion/password">
        <div>
          <div class="form-group row">
            <div class="col-md-3 item">
              <label class="required label" for="email"
                ><span>*</span>E-mail</label
              >
            </div>
            <div class="col-md-6 input">
              <input type="email" name="cli_mail" id="mail" required />
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
        <div class="button">
          <button>Envoyez</button>
        </div>
        <hr />
        <div class="create-account">
          <p>
            Pas de compte ?
            <a href="/inscription/#page-inscription">créez-en un.</a>
          </p>
        </div>
      </form>
      <% } %>
    </div>
  </div>
</div>
