<div id="page-connexion">
  <div class="title-recherche">
    <span><a href="/">Acceuil</a></span>
    <span>/</span>
    <span>Connectez-vous à votre compte</span>
  </div>

  <div class="resultat">
    <p>Connectez-vous à votre compte</p>
  </div>

  <div class="content">
    <div class="register-form">
      <%if (typeof error !== 'undefined' && error == true) { %>
        <div class="alert alert-danger" role="alert">
          <%= (errorMsg) ? errorMsg : '' %>
        </div>
      <% } %>
      <form id="form" method="post" action="/connexion">
        <div>
          <div class="form-group row">
            <div class="col-md-3 item">
              <label class="required label" for="email"
                ><span>*</span>E-mail</label
              >
            </div>
            <div class="col-md-6 input">
              <input type="email" name="cli_mail" id="mail" required />
            </div>
            <div class="col-md-3"></div>
          </div>

          <div class="form-group row">
            <div class="col-md-3 item">
              <label class="required label" for="password"
                ><span>*</span>Mot de passe</label
              >
            </div>
            <div class="col-md-6 btn-hide">
              <input
                type="password"
                name="cli_pwd"
                id="password"
                class="input-show"
                required
              />
              <button id="btn-password" class="show-password">Montrer</button>
            </div>
            <div></div>
          </div>
        </div>
        <div class="forgot-password">
          <p>Mot de passe oublié ?</p>
        </div>

        <div class="button">
          <button>Connexion</button>
        </div>
        <hr />
        <div class="create-account">
          <p>
            Pas de compte ?
            <a href="/inscription/#page-inscription">créez-en un.</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>


