<div id="page-connexion">
    <div class="formulaire-connexion">
        <div class="text-connexion">
            <p>Accueil /
                <span>Connectez vous à votre compte</span>
            </p>
            <h4>Connectez vous à votre compte</h4>
        </div>
        <form>
            <div class="form">
                <div class="form-content">
                    <div class="form-outline mb-4">
                        <div class="label"> <label class="form-label" for="form2Example1"> <span>*</span> E-mail</label></div>
                        <div class="input"> <input type="email" id="form2Example1" class="form-control" /></div>
                    </div>

                    <div class="form-outline mb-4">
                        <div class="label"> <label class="form-label" for="form2Example2"> <span>*</span>Mot de passe</label></div>
                        <div class="input"><input type="password" id="form2Example2" class="form-control" /></div>
                    </div>
                    <div class="motdepasse">
                        <p>Mot de passe oublié ?</p>
                    </div>
                    <div class="btn"> <button type="button" class="btn btn-primary btn-block mb-4">Connexion</button></div>
                    <div class="bordure">
                        <hr>
                    </div>
                    <div class="newCompte">
                        <p> Pas de compte ? Créez-en un</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>