<div id="page-connexion">
  <div class="title-recherche">
    <span><a href="/">Home</a></span>
    <span>/</span>
    <span>Login</span>
  </div>

  <div class="resultat">
    <p>Connect to your account</p>
  </div>

  <div class="content">
    <div class="register-form">
      <%if (typeof error !== 'undefined' && error == true) { %>
        <div class="alert alert-danger" role="alert">
          <%= (errorMsg) ? errorMsg : '' %>
        </div>
      <% } %>
      <%if (typeof info !== 'undefined' && info == true) { %>
        <div class="alert alert-success" role="alert">
          <%= (message) ? message : '' %>
        </div>
      <% } %>
      <form id="form" method="post" action="/connexion">
        <div>
          <div class="form-group row">
            <div class="col-md-3 item">
              <label class="required label" for="email"
                ><span>*</span>Mail</label
              >
            </div>
            <div class="col-md-6 input">
              <input type="email" name="cli_mail" id="mail" required />
            </div>
            <div class="col-md-3"></div>
          </div>

          <div class="form-group row">
            <div class="col-md-3 item">
              <label class="required label" for="password"
                ><span>*</span>Password</label
              >
            </div>
            <div class="col-md-6 btn-hide">
              <input
                type="password"
                name="cli_pwd"
                id="password"
                class="input-show"
                required
              />
              <button id="btn-password" class="show-password">Show</button>
            </div>
            <div></div>
          </div>
        </div>
        <div class="forgot-password">
          <a href="/connexion/password"> <p>Forget password</p></a>
         
        </div>

        <div class="button">
          <button>Connexion</button>
        </div>
        <hr />
        <div class="create-account">
          <p>
            Don't have an account ?
            <a href="/inscription/#page-inscription">Register.</a>
          </p>
        </div>
      </form>
    </div>
  </div>
  <!--<script src="/javascripts/login_process.js"></script>-->
  <script src="/javascripts/connexion.js"></script>
</div>


