<div id="page-connexion">
    <div class="formulaire-connexion">
        <div class="text-connexion">
            <p>Accueil /
                <span>Connectez vous à votre compte</span>
            </p>
            <h4>Connectez vous à votre compte</h4>
        </div>

        <div class="form-parent">
            <form class="pt-3 formulaire">
                <div class="form-group py-2 bloc-mail">
                    <div class="input-field">
                        <span class="required">*</span>
                        <span>E-mail</span>
                        <input type="text" required>
                    </div>
                </div>
                <div class="form-group py-1 pb-2 bloc-password">
                    <div class="input-field">
                        <span class="required">*</span>
                        <span>Mot de passe</span>

                        <input type="text" required> <button class="btn showPassword "> <span>Montrer</span> </button></input>

                    </div>
                </div>
                <div class="forgot"> <a href="#" id="forgot">Mot de passe oublié?</a> </div>

                <button class="btn btn-connexion btn-block text-center my-3">Connexion</button>
                <hr>
                <div class="pt-3 newCompte">Pas de compte ? <a href="#"> Créez-en un</a></div>
            </form>
        </div>

    </div>
</div>