<div id="admin-blocs-produitHeader">
  <h6 class="pt-3">Clients</h6>
  <div class="produit-menu">
    <h3>Gérer vos clients</h3>
    <div class="produit-menu-btn">
      <button type="button" class="btn btn-info">
        <a href="/admin/clients/add">
          <i class="fa-solid fa-circle-plus"></i> Ajouter un nouveau client</a
        >
      </button>
      <button type="button" class="btn btn-outline-secondary">Aide</button>
    </div>
  </div>
</div>
