<div id="admin-blocs-produitHeader" class="border-bottom">
  <h6>Clients</h6>
  <div class="produit-menu">
    <h4>Gérer vos clients</h4>
    <div class="produit-menu-btn">
      <a href="/admin/clients/add">
        <button type="button" class="btn btn-info">
          <i class="fa-solid fa-circle-plus"></i> Ajouter un nouveau client
        </button>
      </a>
      <button type="button" class="btn btn-outline-secondary">Aide</button>
    </div>
  </div>
</div>
