<div id="admin-blocs-ClientHeader" class="border-bottom">
  <div class="produit-menu">

    <div class="text">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <!-- <li class="breadcrumb-item">
            <a class="fil-ariane-item" href="#" style="color: #25b9d7;">Catalogue</a>
          </li> -->
          <!-- <li class="breadcrumb-item active" aria-current="page">
            <a class="fil-ariane-item" href="/admin/transporteurs">Transporteurs</a>
          </li> -->
          <li class="breadcrumb-item active" aria-current="page">
            <span style="color:#25b9d7">clients</span>
          </li>
        </ol>
      </nav>
    </div>
    <div class="produit-menu-btn">
      <a href="/admin/clients/add">
        <button type="button" class="btn btn-info">
          <i class="fa-solid fa-circle-plus"></i> Ajouter un nouveau client
        </button>
      </a>
    </div>
  </div>
</div>
