<div id="admin-blocs-produitHeader">
  <h6 class="pt-3">Clients</h6>
  <div class="produit-menu">
    <h1>Gérer vos clients</h1>
    <div class="produit-menu-btn">
      <button type="button" class="btn btn-info">
        <i class="fa-solid fa-circle-plus"></i> Ajouter un nouveau client
      </button>
      <button type="button" class="btn btn-secondary">
        <i class="fa-solid fa-gear"></i> Améloirer l'experience du client
      </button>
      <button type="button" class="btn btn-outline-secondary">Aide</button>
    </div>
  </div>
</div>
