<div id="admin-blocs-panierHeader" class="border-bottom">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="fil-ariane-item" href="">Commandes</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <a href="#" class="link-panier">Factures</a>
      </li>
    </ol>
  </nav>
  <div class="produit-menu">
    <h1>Factures</h1>
    <div class="produit-menu-btn">
      <button type="button" class="btn btn-secondary">
        <i class="fa-solid fa-gear"></i> Booster vos ventes
      </button>
      <button type="button" class="btn btn-outline-secondary">Aide</button>
    </div>
  </div>
</div>
