<div id="admin-blocs-panierHeader">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="fil-ariane-item" href="#">Commandes</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <a href="#" class="link-panier">Paniers</a>
      </li>
    </ol>
  </nav>
  <div class="produit-menu">
    <h1>Paniers</h1>
    <div class="produit-menu-btn">
      <button type="button" class="btn btn-info">
        <i class="fa-solid fa-file-export"></i> Exporter les paniers
      </button>
      <button type="button" class="btn btn-secondary">
        <i class="fa-solid fa-gear"></i> Modules recommandées
      </button>
      <button type="button" class="btn btn-outline-secondary">Aide</button>
    </div>
  </div>
</div>
