<div id="admin-blocs-produitHeader">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="fil-ariane-item" href="#">Catalogue</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <a href="#">Produit</a>
      </li>
    </ol>
  </nav>
  <div class="produit-menu">
    <h1>Produits</h1>
    <div class="produit-menu-btn">
      <button type="button" class="btn btn-info">
        <i class="fa-solid fa-circle-plus"></i> Nouveau Produit
      </button>
      <button type="button" class="btn btn-secondary">
        <i class="fa-solid fa-gear"></i> Optimiser le catalogue de produits
      </button>
      <button type="button" class="btn btn-outline-secondary">Aide</button>
    </div>
  </div>
</div>
