<div id="admin-blocs-produitHeader">
  <!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <a class="fil-ariane-item" href="#">Produits</a>

      <li class="breadcrumb-item active" aria-current="page">
        <a href="#">Gérer vos produits</a>
      </li>
    </ol>
  </nav> -->

  <div class="text">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a class="fil-ariane-item" href="#" style="color: #25b9d7;">Catalogue</a>
        </li>
        <!-- <li class="breadcrumb-item active" aria-current="page">
          <a class="fil-ariane-item" href="/admin/transporteurs">Transporteurs</a>
        </li> -->
        <li class="breadcrumb-item active" aria-current="page">
          <span>produits</span>
        </li>
      </ol>
    </nav>
  </div>

  <div class="produit-menu">
    <h1>Gérer vos produits</h1>
    <div class="produit-menu-btn">
   <!-- <div class="search-parent">
    <form action="">
      <span> <i class="fa fa-search" aria-hidden="true"></i></span>
        <input type="text" placeholder="Rechercher">
    </form>
      </div> -->

      <a href="/admin/produits/add">
        <button type="button" class="btn btn-info">
          <i class="fa-solid fa-circle-plus"></i> Ajouter un nouveau Produit
        </button>
      </a>
   
    </div>
  </div>
</div>
