<div id="admin-blocs-produitHeader">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <a class="fil-ariane-item" href="#">Produits</a>

      <li class="breadcrumb-item active" aria-current="page">
        <a href="#">Gérer vos produits</a>
      </li>
    </ol>
  </nav>
  <div class="produit-menu">
    <h1>Gérer vos produits</h1>
    <div class="produit-menu-btn">
      <a href="/admin/produits/add">
        <button type="button" class="btn btn-info">
          <i class="fa-solid fa-circle-plus"></i> Ajouter un nouveau Produit
        </button>
      </a>
    </div>
  </div>
</div>
