<nav
  id="bloc-admin-sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block p-0 bg-dark shadow-1 sidebar collapse"
>
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/admin/dashboard">
          <span data-feather="home"></span>
          Tableau de bord
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/devis">
          <span data-feather="file"></span>
          Dévis
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/produits">
          <span data-feather="shopping-cart"></span>
          Produits
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/paniers">
          <span data-feather="shopping-cart"></span>
          Paniers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/couleurs">
          <span data-feather="shopping-cart"></span>
          Couleurs
        </a>
      </li><li class="nav-item">
        <a class="nav-link" href="/admin/tailles">
          <span data-feather="shopping-cart"></span>
          Tailles
        </a>
      </li>
    </ul>
  </div>
</nav>
