<nav
  id="bloc-admin-sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block p-0 bg-dark shadow-1 sidebar collapse"
>
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item mb-3">
        <a class="nav-link active" aria-current="page" href="/admin/dashboard">
          <span data-feather="home"></span>
          <i class="fa-solid fa-arrow-trend-up"></i> Tableau de bord
        </a>
      </li>
      <hr />
      <h5 class="p-3">VENDRE</h5>
      <li class="nav-item">
        <button
          class="btn btn-toggle nav-link align-items-center rounded"
          data-bs-toggle="collapse"
          data-bs-target="#commande-collapse"
          aria-expanded="true"
        >
          <i class="fa-solid fa-bag-shopping"></i> Commandes
        </button>
        <div class="collapse ml-2" id="commande-collapse" style>
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li>
              <a href="/admin/devis" class="link-dark rounded">Commandes</a>
            </li>
            <li>
              <a href="/admin/paniers" class="link-dark rounded">Paniers</a>
            </li> 
            <li>
              <a href="/admin/promo" class="link-dark rounded">Promo</a>
            </li>
            <li>
              <a href="/admin/factures" class="link-dark rounded">Facture</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <button
          class="btn btn-toggle nav-link align-items-center rounded"
          data-bs-toggle="collapse"
          data-bs-target="#catalogue-collapse"
          aria-expanded="true"
        >
          <i class="fa-solid fa-shop"></i> Catalogue
        </button>
        <div class="collapse ml-2" id="catalogue-collapse" style>
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li>
              <a href="/admin/produits" class="link-dark rounded">Produits</a>
            </li><li>
              <a href="/admin/apply" class="link-dark rounded">Produits en promo</a>
            </li>
            <li>
              <a href="/admin/type-categories" class="link-dark rounded"
                >Type catégorie</a
              >
            </li>
           
        </div>
      </li>
      <li class="nav-item">
        <button
          class="btn btn-toggle nav-link align-items-center rounded"
          data-bs-toggle="collapse"
          data-bs-target="#client-collapse"
          aria-expanded="true"
        >
          <i class="fa-solid fa-users"></i> Clients
        </button>
        <div class="collapse ml-2" id="client-collapse" style>
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li>
              <a href="/admin/clients" class="link-dark rounded">Clients</a>
            </li>
            <li>
              <a href="/admin/adresse" class="link-dark rounded">Adresse</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <button
          class="btn btn-toggle nav-link align-items-center rounded"
          data-bs-toggle="collapse"
          data-bs-target="#referenciel-collapse"
          aria-expanded="true"
        >
        <i class="fa-solid fa-palette"></i> Référentiel
        </button>
        <div class="collapse ml-2" id="referenciel-collapse" style>
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li>
              <a href="/admin/couleurs" class="link-dark rounded">Couleurs</a>
            </li>
            <li>
              <a href="/admin/tailles" class="link-dark rounded">Tailles</a>
            </li>
            <li><a href="/admin/frais-port" class="link-dark rounded">Frais port</a></li>
            <li><a href="/admin//transporteurs" class="link-dark rounded">transporteur</a></li>
          </ul>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
