<div id="page-devis">
  <div class="logo-dates">
    <div class="logo">
        <img src="/images/logo.png" class="logo-img img-fluid" alt="" srcset="" />
    </div>
    <div class="dates">
        <div class="devis-number">
            <span>Devis N°</span> <span> 2</span>
        </div>
        <div class="bordure"></div>
        <div class="devis-date">
            <span>Date :</span> <span>10-10-2022</span>
        </div>
    </div>
  </div>

  <div class="adresses">
    <div class="livraison">
       <h3>Adresse de livraison</h3>
       <ul>
        <li>Blaise KINIALI</li>
        <li>WCG</li>
        <li>21 bld Hausmann</li>
        <li>7009 Paris</li>
        <li>France</li>
        <li>0161104319</li></ul>
    </div>
    <div class="facturation">
        <h3>Adresse de facturation</h3>
       <ul>
        <li>BLAISE Blaise KINIALI</li>
        <li>17 BIS ALLEE DES GASSETS</li>
        <li>77700 SERRIS</li>
        <li>7009 Paris</li>
        <li>France</li>
        <li>0640776501</li></ul>
    </div>
  </div>

  <div class="table-detail">
    <table class="table  table-bordered">
        <thead class="bg-secondary">
          <tr>
            <th scope="col">Reference</th>
            <th scope="col">Produit</th>
            <th scope="col">Prix unitaire (HT)</th>
            <th scope="col">Total (HT)</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <td>GEP23</td>
            <td>GEP23 -Esemble pantalon sarouel frambois à paleittes turquoises</td>
            <td>10, 00$</td>
            <td>10, 00$</td>
          </tr>
          <tr>
            <td>MR6</td>
            <td>MR6-Robe sirene-Marin</td>
            <td>7, 50$</td>
            <td>7, 50$</td>
          <tr>
            <td>PC19</td>
            <td>PC19 -Combishort blue royal</td>
            <td>10, 00$</td>
            <td>15, 00$</td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="tables">
    <div class="taxe-detail1">
      <table class="table table-borderless">
        <thead class="bg-secondary">
          <tr>
            <th scope="col">Details des taxes</th>
            <th scope="col">Taux de taxe</th>
            <th scope="col">Prix de base</th>
            <th scope="col">Taxe totale</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Produits</td>
            <td>20.000 %</td>
            <td>32, 50$</td>
            <td>6, 50$</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="taxe-detail2">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td id="title">Tota produits</td>
            <td>32, 50$</td>
          </tr>
          <tr>
            <td id="title">Frais de livraison</td>
            <td>18, 70$</td>
          </tr>
          <tr>
            <td id="title">Frais de dossier</td>
            <td>15, 00$</td>
          </tr>
          <tr>
            <th id="title">Total (HT)</th>
            <th>66, 20$</th>
          </tr>
          <tr>
            <th id="title">Taxe totale</th>
            <th>6, 50$</th>
          </tr>
          <tr>
            <th id="title">Total</th>
            <th>72, 70$</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="text-detail">
    <p>Les frais de port estimatifs pouvant etre réévalués en foction du poids réel.</p>
    <p>Vos costumes seront pre-réservés pendant 10 jours(sous réserve de disponibilité)</p>
    <p>Passé de délai, sans confirmation de votre part, Aiguilles en scène se réserve le droit de les remettre en location.</p>
  </div>
</div>