<div id="page-recherche">
  <div class="title-recherche">
    <span><a href="">Acceuil</a></span>
    <span>/ Résultats de la recherche</span>
  </div>

  <div class="resultat">
    <p>RESULTATS DE LA RECHERCHE</p>
  </div>

  <div class="row resultat_choix">
    <div class="col-md-6">
      <span class="title">Il y a 3 produits.</span>
    </div>
    <div class="col-md-6 filtre-content">
      <div class="">
        <span class="title">Trier par: </span>
      </div>
      <div class="input" id="input">
        <span id="choix">Choisir</span>
        <span class="icon"><i class="fa-solid fa-caret-down"></i></span>
        <div class="content content-hide" id="content">
          <ul>
            <li class="item-choice">Pertinente</li>
            <li class="item-choice">Nom, A à Z</li>
            <li class="item-choice">Nom, Z à A</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row resultat_image">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-4 item">
      <div class="image">
        <img src="/images/enfant2.jpg" class="img-fluid" alt="" />
      </div>
      <div class="details">
        <p class="desc">GV1B - <span>Veste Queue De Pie Dorée</span></p>
        <p class="ref">Ref: GV1B</p>
        <div>
          <p class="price">8,00 €</p>
          <p class="bar">|</p>
          <p class="price btn">Ajouter</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-4 item">
      <div class="image">
        <img src="/images/enfant2.jpg" class="img-fluid" alt="" />
      </div>
      <div class="details">
        <p class="desc">GV1B - <span>Veste Queue De Pie Dorée</span></p>
        <p class="ref">Ref: GV1B</p>
        <div>
          <p class="price">8,00 €</p>
          <p class="bar">|</p>
          <p class="price btn">Ajouter</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-4 item">
      <div class="image">
        <img src="/images/enfant1.jpg" class="img-fluid" alt="" />
      </div>
      <div class="details">
        <p class="desc">GV1B - <span>Veste Queue De Pie Dorée</span></p>
        <p class="ref">Ref: GV1B</p>
        <div>
          <p class="price">8,00 €</p>
          <p class="bar">|</p>
          <p class="price btn">Ajouter</p>
        </div>
      </div>
    </div>

    <div class="row affichage">
      <p>Affichage 1-3 de 3 article(s)</p>
    </div>
  </div>
</div>
<script>
  const urlParams = window.location.search.substring(8);
  const searchValue = urlParams.replaceAll("+"," ");
  console.log(searchValue, "value");
</script>
<script src="/javascripts/recherche.js"></script>