#admin-blocs-produitHeader {
    background-color: $color-white;
    padding: 1%;
    z-index: 10;
    width: 100%;
    position: sticky;
    top: 6.4%;
    padding-bottom:2rem;

    .breadcrumb {
        margin-top: 1%;
    }

    a {
        text-decoration: none !important;
        color: $color-white ;
    }

    .fil-ariane-item {
        // color: $color-secondary !important;
        color:$color-blue-admin;
    }

    .produit-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 2%;

        h1,
        h2,
        h3,
        h4 {
            font-weight: 400 !important;
            font-size: 1.2rem;
        }

        .produit-menu-btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            .search-parent{
            
            border: 1px gray solid;
            border-radius: 10px;
            padding: 5px 10px;
            span{
                color:#a0b21f;
                
            }
            input{
                border: none;
                outline: none;
            }
             
            }
            button {
                margin-left: 10px;
            }

            .btn-info {
                color: $color-white !important;
            }
        }
    }


}